[2020-07-20 13:15] LuckyMD opened #1 "label_propagation: hide ground truth labels"
I feel as though the ground-truth labels should not just be visible to everyone doing the task. Instead they should be `np.nan` for the `adata.obs['is_train'] == False`. That way we can be sure that nobody trains their model on more than the training data (specifically impt for hyperparameter optimization, which we can't control otherwise). That would however require the metrics to load the ground

[2020-07-20 15:32] scottgigante opened #2 "Create sandbox/development versions of datasets"

[2020-07-20 15:36] scottgigante opened #3 "Add Tabula Senis data loader"

[2020-07-20 15:43] scottgigante opened #4 "Add multi omic SoTA"

[2020-07-20 15:53] scottgigante opened #5 "When should we normalize the data?"
Options:

1. Download raw counts, preprocess `adata.X` in `openproblems/data`, keep raw counts in `adata.layers["counts"]`.
2. Download raw counts, pass raw counts to methods. Provide normalization recipes in `openproblems/utils.py`.

[2020-07-20 15:54] scottgigante opened #6 "Create a tab widget for each task on netlify website"

[2020-07-20 15:54] scottgigante opened #7 "Connect netlify"

[2020-07-20 15:56] scottgigante opened #8 "Add data integration task"

[2020-07-20 16:04] scottgigante opened #9 "Add scArches"

[2020-07-20 16:05] scottgigante opened #10 "Add Data Integration SoTA methods"

[2020-07-20 19:52] scottgigante opened #11 "Fix zebrafish data URL"
Failing on Travis.

`urllib.error.HTTPError: HTTP Error 404: Not Found`

[2020-07-23 19:01] #11 closed, assigned to dburkhardt

[2020-07-23 19:17] scottgigante opened #13 "Add Zebrafish data"

[2020-07-27 15:09] scottgigante opened #15 "Install rpy2 in Travis"

[2020-07-27 15:11] scottgigante opened #16 "Migrate scran normalization to pure Python"

[2020-07-27 15:42] singlecellopenproblems opened #18 "Add Pancreas data"

[2020-07-27 15:45] ghost opened #19 "Add normalization functions to existing methods"

[2020-07-27 16:24] #15 closed, assigned to scottgigante

[2020-08-03 18:03] #4 closed, assigned to scottgigante

[2020-08-04 16:34] #19 closed, assigned to scottgigante

[2020-08-12 19:57] #7 closed, assigned to dburkhardt

[2020-08-17 15:26] scottgigante opened #30 "Add issue templates"
* propose a new task
* propose a new dataset
* propose a new metric
* propose adding an existing dataset to another task

[2020-08-17 15:30] scottgigante opened #31 "Reduce dependencies for using the codebase"
Move stuff to optional deps

[2020-08-18 13:44] dburkhardt commented on #13
Currently merging https://github.com/singlecellopenproblems/SingleCellOpenProblems/pull/34  requires fixing these issues in our dependencies:

- [ ]  https://github.com/theislab/anndata2ri/issues/18
- [ ]  https://github.com/theislab/scib/issues/141

[2020-08-18 18:26] #31 closed

[2020-08-18 18:35] #1 closed

[2020-08-18 18:37] scottgigante opened #36 "Use tox for testing"
WARNING: Testing via this command is deprecated and will be removed in a future version. Users looking for a generic test entry point independent of test runner are encouraged to use tox.

[2020-08-18 18:41] scottgigante opened #37 "Scale data for logistic regression"
[code]

Use sklearn.preprocessing.StandardScaler().fit(X_train)

[2020-08-18 19:12] #37 closed

[2020-08-18 20:43] dburkhardt commented on #37
@scottgigante this has been fixed in the zebrafish branch

[2020-08-19 03:55] scottgigante commented on #37
Ah we will have to deal with the merge then.

[2020-08-19 04:05] scottgigante commented on #37
Your version coerced all data to dense so I had to use TruncatedSVD instead. Merge is complete.

[2020-08-19 17:30] dburkhardt commented on #36
I will just say that scanpy uses [pytest](https://docs.pytest.org/en/stable/) and I really like it. It was super easy to run a specific test and the output is pretty

[2020-08-20 16:11] scottgigante commented on #36
This is unrelated to which test runner we use -- tox is an alternative to `python setup.py test`.

[2020-08-21 16:06] #13 closed, assigned to dburkhardt, LuckyMD

[2020-08-24 15:46] LuckyMD opened #40 "Data integration / batch removal task"
**Describe the problem concisely**.
Data integration task after the recent (benchmarking paper)[https://www.biorxiv.org/content/10.1101/2020.05.22.111161v2]

**Propose datasets**
All datasets used in the paper can be used. Quite a few are already on Figshare (here)[https://figshare.com/articles/dataset/Benchmarking_atlas-level_data_integration_in_single-cell_genomics_-_integration_task_datasets_Im

[2020-08-24 15:51] LuckyMD opened #41 "Differential expression testing"
**Describe the problem concisely**.
Detecting differentially expression genes or other features in augmented data to find correct type I error control. Task can be modeled after (this paper)[http://www.nature.com/doifinder/10.1038/nmeth.4612].

**Propose datasets**
Datasets used in the study are made available as the "conquer" repository.

**Propose methods**
EdgeR, MAST, Diffxpy, limma, etc.

**P

[2020-08-24 15:53] LuckyMD opened #42 "Trajectory Inference comparison task"
**Describe the problem concisely**.
Comparison of trajectory inference methods as performed by the Saeys group in (this paper)[http://www.nature.com/articles/s41587-019-0071-9].

**Propose datasets**
Several simulated and real datasets are available in the dynverse package.

**Propose methods**
72 methods are named in the paper: PAGA, Slingshot, Monocle v3, DPT, etc.

**Propose metrics**
Dynverse

[2020-08-24 18:10] scottgigante opened #43 "Zebrafish data fails to evaluate due to dense data in `obsm`"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the master branch of openproblems.

---

https://travis-ci.com/github/singlecellopenproblems/SingleCellOpenProblems/jobs/376995264#L910

[code]

[2020-08-26 15:40] scottgigante opened #44 "Download zebrafish from GEO"

[2020-08-26 15:40] scottgigante opened #45 "Upload intermediate processed data files to S3"

[2020-08-31 15:18] scottgigante commented on #43
Delete all of the above:
[code]

[2020-08-31 15:30] dburkhardt opened #47 "To do by Sept 7 2020"
Website
- [x] Update contributing text with invitation to join CZI slack - @dburkhardt
- [x] Flesh out website results page with metrics and full results - @dburkhardt
- [x] Fix #43  - @dburkhardt
- [x] Flip sort order

Tasks
- [x] Pancreas #18
- [ ] Tabula Muris #22 @M0hammadL
- [ ] scArches #9 @M0hammadL
- [x] Remove cheat / dummy methods

Longer term
- [ ] Add zebrafish download from GEO #44 -

[2020-08-31 15:52] scottgigante commented on #9
@M0hammadL Malte suggested adding scArches at a minimum to fill this out as three methods

[2020-08-31 15:54] dburkhardt opened #49 "Labs to contact"
- [x] Luca Pinarello - @dburkhardt
- [X] Matt Ritchie - @scottgigante

[2020-09-02 15:48] scottgigante commented on #43
@dburkhardt do we have an ETA on this fix?

[2020-09-03 15:37] #43 closed

[2020-09-04 14:11] #18 closed

[2020-09-04 14:13] scottgigante commented on #47
@dburkhardt how are the website parts of this looking?

[2020-09-08 19:49] dburkhardt commented on #47
@scottgigante I think the only thing left on the Website is to agree on a format for outputting results. Currently, the easiest thing would be for the output to be printed as TOML in files like https://github.com/singlecellopenproblems/SingleCellOpenProblems/blob/website/website/data/test.toml

[code]

This is different than what we had originally discussed, but I think it will be the best moving

[2020-09-08 23:38] scottgigante commented on #47
Sure, sounds good. I'll make that change.

On Tue, 8 Sep 2020, 3:50 pm Daniel Burkhardt, <notifications@github.com>
wrote:

[2020-09-09 16:41] scottgigante opened #53 "Output results as JSON"
Name, Paper, Paper URL, Paper year, Website, Dataset, Metric, Value, Ranksum rank, Runtime.

[table]
  [[row]]
  data = ["Method", "kNN AUC", "MSE", "Paper"]
  [[row]]
  data = ["Procrustes", "0.00298303", "0.833141", "[Procrustes Methods in the Statistical Analysis of Shape]( https://www.jstor.org/stable/2345744)"]
  [[row]]
  data = ["Cheat", "0.0587961", "0" , "[Cheat](https://www.politifact.co

[2020-09-09 16:41] scottgigante opened #54 "Memory leak on Travis in evaluate.py"
https://travis-ci.com/github/singlecellopenproblems/SingleCellOpenProblems/jobs/382491851#L970

[2020-09-09 16:47] scottgigante commented on #53
[ ] Decorator for method metadata
[ ] Decorator for method higher / lower is better

[2020-09-09 16:56] scottgigante commented on #53
Use JSON instead:
`/website/data/results/multimodal_data_integration/scicar_cell_lines.json`
[code]

[2020-09-10 14:52] scottgigante commented on #54
@LuckyMD it looks like scBI's scran normalization is the problem here. See https://github.com/singlecellopenproblems/SingleCellOpenProblems/blob/feature/method-metadata/results.md

[2020-09-10 14:52] scottgigante commented on #54
(results here are for test data -- I can't run the full evaluation on my machine due to memory issues.)

[2020-09-10 15:02] LuckyMD commented on #54
I can just see `ModuleNotFoundError: No module named 'memory_profiler'`

Where is the memory leak shown?

[2020-09-10 15:30] scottgigante commented on #54
If you take a look at the .md file I linked you'll see it. I've also given a reproducible example in the linked issue.

[2020-09-11 17:27] LuckyMD commented on #54
Ah, I didn't scroll right...

[2020-09-13 11:20] M0hammadL commented on #9
@scottgigante I think scArches, will not be possible here I think, since the method does not perform classification by it self, it will align the query data to reference which we can use a simple knn classifier to carry labels from reference to the query. Therefore I am not sure whether it can be considered as a classification method or not!

[2020-09-13 11:44] M0hammadL commented on #47
@scottgigante I added muris_semis data loaders in a separate brunch but the build still fails and there is no clear error why this happens. Could you possibly check that?

[2020-09-13 19:35] dburkhardt commented on #9
I think that having scArches + kNN classifer would be a great baseline to have. Thumbing through the preprint, I think that these results are compelling:

I understand you would typically include some manual fine-tuning but I would love to see these results added to Open Problems

[2020-09-13 19:37] dburkhardt commented on #47
@M0hammadL the relevant error is here: https://travis-ci.com/github/singlecellopenproblems/SingleCellOpenProblems/jobs/384340310#L649.

[2020-09-15 12:54] scottgigante opened #62 "CITE-seq"
**What is the dataset?**
Protein and RNA https://www.nature.com/articles/nmeth.4380

**Where is the data located?**
https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE100866

**Which tasks could it be used for?**
Multimodal data integration

[2020-09-15 14:53] #53 closed

[2020-09-17 19:17] dburkhardt opened #65 "Add software version number for each method in result JSON"
I think this might need to be defined for each package. Like

[code]

[2020-09-20 14:44] #65 closed

[2020-09-20 14:48] scottgigante opened #68 "Display code versions in website output"

[2020-09-21 15:21] scottgigante commented on #45
Have these datasets downloadable from the results section of the website.

[2020-09-21 15:28] scottgigante opened #71 "Prototyping sandbox (maybe colab)"
Create a place to compute all metrics on an arbitrary output to facilitate development

[2020-09-21 16:07] scottgigante opened #73 "mnnpy is not maintained"
**What is the method?**
MNN correct via fastMNN

**Where is the code located?**
https://rdrr.io/github/LTLA/batchelor/man/fastMNN.html

**Which task(s) could it be used for?**
Already implemented in multimodal data integration

[2020-09-21 16:07] scottgigante opened #74 "Containerize method evaluation"

[2020-09-21 16:09] dburkhardt opened #75 "Predicting gene expression from chromatin accessibility"
**Describe the problem concisely**.
Include references to papers where the task is attempted.

The [reference](https://www.biorxiv.org/content/10.1101/2020.04.28.066498v1) includes over 50 methods to calculate chromatin accessibility target genes, and benchmark by correlating with the gene expression, specifically for the figure 2b. They released the software at the [GitHub repo](https://github.co

[2020-09-21 16:10] dburkhardt opened #76 "Add data denoising task"
**Describe the problem concisely**.
Include references to papers where the task is attempted.

**Propose datasets**
Include links to at least one publicly available dataset that could be used.

**Propose methods**
Include links to codebases of at least two methods that perform the task.

**Propose metrics**
Describe at least one metric by which to measure success on the task. It must be able to be

[2020-09-21 16:27] #49 closed

[2020-09-21 16:33] #47 closed

[2020-09-21 16:48] scottgigante commented on #74
* docker inside snakemake
* require that we have the Dockerfile
* require that all dependencies are pinned (via pip freeze)

[2020-09-21 16:49] scottgigante commented on #74
- [ ] convert evaluate.py into snakemake
- [ ] one rule per method
- [ ] method name in config

[2020-09-21 16:58] scottgigante commented on #74
[code]

[2020-09-21 17:32] dburkhardt commented on #68
Code icon -> version number, add paper icon

[2020-09-21 19:33] scottgigante commented on #68
Unresolved related problem -- code versions for things that are not python packages. At the moment these are fetched using setuptools.

[2020-09-22 03:46] #73 closed

[2020-09-22 04:11] #62 closed

[2020-09-22 14:03] scottgigante opened #79 "Automatically add new datasets to website"
I added a new dataset but it didn't appear on the website. https://github.com/singlecellopenproblems/SingleCellOpenProblems/blob/master/website/data/results/multimodal_data_integration/citeseq_cmbc.json

[2020-09-23 15:07] scottgigante commented on #54
Looks like this is resolved. https://github.com/singlecellopenproblems/SingleCellOpenProblems/blob/master/results.json

[2020-09-23 15:07] #54 closed

[2020-09-23 20:12] #36 closed

[2020-09-24 17:40] LuckyMD commented on #54
Hmm... I hadn't merged the scIB PRs yet... did you install the PR code?

[2020-09-25 13:33] scottgigante commented on #54
Ah yes I did, this is running locally.

On Thu, 24 Sep 2020 at 13:40, MalteDLuecken <notifications@github.com>
wrote:

[2020-09-25 13:39] LuckyMD commented on #54
okay.. i guess no need to close the R session then. I will merge then :)

[2020-09-25 13:52] LuckyMD commented on #54
Merged... now you can use the master branch as well ;)

[2020-09-25 14:59] scottgigante commented on #54
Excellent, thanks!

On Fri, 25 Sep 2020 at 09:52, MalteDLuecken <notifications@github.com>
wrote:

[2020-09-28 15:52] dburkhardt commented on #76
Update 9/28 - first use Molecular Cross Validation and any selection of datasets

[2020-09-28 16:07] dburkhardt opened #80 "Dimensionality Reduction Manifold Preservation"
**Describe the problem concisely**.
Preserving measures of stress / manifold topology in low dimensional embeddings of single cell data

**Propose datasets**
Include links to at least one publicly available dataset that could be used.

**Propose methods**
UMAP, PHATE, PCA

**Propose metrics**
https://github.com/scottgigante/DEMaP
https://github.com/scikit-learn/scikit-learn/blob/0fb307bf39bbdacd6e

[2020-09-28 18:47] dburkhardt opened #81 "Label projection version bug"
In the label projection task, all the methods have the same version number

https://github.com/singlecellopenproblems/SingleCellOpenProblems/blob/master/website/data/results/label_projection/pancreas_random.json

[2020-09-28 18:48] dburkhardt commented on #81
Nevermind, not a bug. Due to sci-kit learn version

[2020-09-28 18:48] #81 closed

[2020-09-28 21:47] LuckyMD opened #82 "Metric - Dataset mapping"
We discussed today that it may be useful to have a mapping between metrics and datasets for a task so that you can run a subset of metrics on a particular dataset. E.g., a denoising dataset may have a ground truth assigned, so that you can build a simple metric to test if the data corresponds to the ground truth. This may however not be the case for other datasets.

The alternative would be to use

[2020-09-29 17:53] scottgigante commented on #82
One proposed solution: add a `flags` attribute to the metric decorator. A metric will only run on a dataset if the corresponding dataset has the required flag set to true. Thoughts?

[2020-09-29 20:20] LuckyMD commented on #82
That sounds great! I haven't really worked much with decorators, but that sounds like it would make sense.

[2020-10-06 14:33] scottgigante commented on #74
@LuckyMD we now have a snakemake pipeline that generates the results files. We need to swap in docker containers for:

* methods (https://github.com/singlecellopenproblems/SingleCellOpenProblems/blob/master/scripts/run_method.py)
* metrics (https://github.com/singlecellopenproblems/SingleCellOpenProblems/blob/master/scripts/evaluate_metric.py)

and then this should be done.

[2020-10-06 14:35] scottgigante commented on #74
Corresponding lines of the snakemake file:

* method: https://github.com/singlecellopenproblems/SingleCellOpenProblems/blob/master/scripts/Snakefile#L119
* metric: https://github.com/singlecellopenproblems/SingleCellOpenProblems/blob/master/scripts/Snakefile#L110

Not sure exactly what this will look like but assuming we can mount access to the file system, we could just run those existing python

[2020-10-06 21:29] LuckyMD commented on #74
I just wanted to commit the Dockerfile quickly so that we have sth to test: #85

I haven't tested running anything inside yet. But I guess if you have the script that should be easy to test, no?

[2020-10-06 21:58] LuckyMD commented on #74
I can try to find out how to mount volumes in a snakemake rule if you want.

[2020-10-07 15:16] scottgigante commented on #74
Yes, that would be great!

[2020-10-07 16:57] LuckyMD commented on #74
According to [this](https://stackoverflow.com/questions/52742698/snakemake-docker-example-how-to-use-volumes) you specify volumes to mount in the command. So you would run sth like:
`snakemake --use-singularity ---singularity-args "-v /path/outside/container:/path/inside/container"`

Also, it seems as though you have to have the image built already, and it doesn't build this automatically.

And, I

[2020-10-07 20:42] scottgigante commented on #74
@LuckyMD any reason why you're installing python from source and not just using https://hub.docker.com/r/rackspacedot/python37 ?

[2020-10-08 08:22] LuckyMD commented on #74
I was looking at the python images and wanted one based on debian so I could use `apt-get`. It was really only a question of convenience. I'm not familiar with alpine and all. Didn't see rackspacedot (and not sure what that is).

[2020-10-08 13:39] scottgigante commented on #74
Okay cool. The rackspacedot image has 60M downloads and is based on Debian
Stretch so that should be fine - just saves us having to compile python
from source.

On Thu, 8 Oct 2020, 4:23 am MalteDLuecken, <notifications@github.com> wrote:

[2020-10-08 22:52] LuckyMD commented on #74
yeah, that sounds much faster to build ;).

[2020-10-10 20:51] flo-compbio commented on #76
I created a pull request: https://github.com/singlecellopenproblems/SingleCellOpenProblems/pull/93

Here's the description of the task from the README that I created:

### Denoising
---

Single-cell RNA-Seq protocols only detect a small fraction of the mRNA molecules present in each cell. As a result, the measurements (UMI counts) observed for each gene and each cell are associated with generally

[2020-10-11 06:14] mvinyard opened #94 "1.3 M cell mouse brain dataset"
**What is the dataset?**
Describe it briefly and include a citation.

**Where is the data located?**
Include a link to the publicly available data.

**Which tasks could it be used for?**
If the dataset is to be used for a task that is not yet included in the code base, use the issue template *propose a new task* instead.

[2020-10-11 06:17] mvinyard commented on #94
When I try to load using `op.data.brain_10x.load_10xbrain()`, I get the following error message:

`OverflowError: signed integer is greater than maximum`

@scottgigante or @dburkhardt - any ideas?

[2020-10-12 15:15] dburkhardt commented on #94
Conclusion from conversation on 10/13: this data is probably too big

[2020-10-13 13:01] scottgigante opened #102 "Pancreas data is dense and contains empty genes"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the master branch of openproblems.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug.

### Minimal code sample (that we can copy&paste without having

[2020-10-13 16:23] LuckyMD commented on #102
I just changed the URL for the pancreas datasets yesterday I think. I can add the cell and gene filtering in the data loader.

[2020-10-13 16:30] flo-compbio opened #103 "Infrastructure (back-end) thoughts and concerns"
Hey everyone,

During the call today I had a few thoughts and concerns about the current infrastructure (back-end). Disclaimer: I'm not 100% familiar with the current back-end, so please point out of if I'm making any incorrect assumptions about how things are currently working. I'm mostly relying on my limited experience of adding a new task and on brief descriptions of the infrastructure from Sc

[2020-10-13 16:47] LuckyMD commented on #103
I can quickly add a comment for point 1. Only Travis runs are run at every commit atm. This will only be done for test datasets, which are miniature versions of the datasets in the future. That has to be done so that we know the code we are adding can be run at all.

[2020-10-13 17:29] scottgigante commented on #103
Thanks for opening this up. Lots of thinking to do as we scale.

1. As Malte said, this one is not really a big deal -- the CI is done with small datasets and runs quickly.
2. The way the snakemake pipeline is currently set up, we don't have a way of just selectively running a few methods, because the way the codebase is set up, the full codebase cannot be linked as a snakemake dependency (e.g. if

[2020-10-13 17:49] LuckyMD commented on #102
filtered out the 6 genes with 0 counts from the dataset I uploaded in #104. It seems I uploaded a dense matrix, as we used that in the benchmarking. Would you like me to upload a sparse version of this or is it sufficient to make it sparse in the data loader?

[2020-10-13 19:36] flo-compbio commented on #103
Thanks Malte and Scott for your comments!

@LuckyMD @scottgigante Regarding testing, I think the testing system needs to be completely decoupled from the "actual" (real-world) set of methods and datasets currently available. I think that for each task, there should be a few (at least one) dummy datasets, and a few (at least one) dummy methods. The test would then be a check of whether the code can

[2020-10-13 19:41] flo-compbio commented on #103
Sorry, I just remembered that I had another comment that I forgot to mention in my initial post:

4) This is related to 2) (storing of results): I we're running methods through docker, I think it would also make sense from a technical perspective to require (as part of the "API"/specifications for a particular task) that the results be written to a particular file in a particular format. I think i

[2020-10-13 19:43] scottgigante commented on #102
I think it makes sense to make the download sparse -- it decreases download time and memory use in loading quite substantially.

[2020-10-13 21:06] scottgigante commented on #103
This is sort of splitting into multiple discussions so I would recommend shifting the discussion of saved outputs to https://github.com/singlecellopenproblems/SingleCellOpenProblems/issues/45.

Re: decoupling from languages, I can imagine shifting to a YAML format where a method is built from a file containing method metadata (currently contained in decorators) and a script file of the form `./scr

[2020-10-13 21:10] scottgigante commented on #5
@flo-compbio moving discussion of normalization to here:

My thought here is quite simply that a) publicly available data is typically provided as count matrices, and b) the cost of running any normalization after that is rather low, whereas the cost of alignment and read counting is rather high. I would rather provide the user with more information rather than less, within reason.

[2020-10-13 21:10] scottgigante commented on #5
From https://github.com/singlecellopenproblems/SingleCellOpenProblems/issues/103

[2020-10-13 21:12] scottgigante commented on #45
@flo-compbio moving discussion about intermediate files here:

One thing we have talked about is storing intermediates in S3. An example is the current data loaders, which currently store intermediates in /tmp after they are run the first time. Eventually this will be stored in S3 instead -- then any change to the raw data or the preprocessing will trigger a rebuild. We could do the same for metho

[2020-10-13 21:14] scottgigante commented on #103
Re: your other point:

I tend towards keeping testing of all methods in here -- otherwise how do we know when to merge a PR? It's relatively low cost and ensures that we're not filling our repo with low-quality code.

[2020-10-13 21:42] flo-compbio commented on #45
Basically I think that means that "data downloading and preprocessing" is another branch of the infrastructure, next to methods, tasks, and metrics. It's sort of an additional feature, but I think it also adds a lot of complexity. For example, let's say I define my dataset as "download this data from the 10x genomics website and then preprocess using script X", then what happens if 10X takes down

[2020-10-13 21:55] scottgigante commented on #45
The way we ended up on figshare is similar to this question. In the end, some datasets are not publicly available, some preprocessing scripts are very ad-hoc, etc. The thing we have recommended for those cases is a Jupyter notebook that details the preprocessing without necessarily including it in the CI, and then uploading the result of that to figshare/s3. That way we know how to recreate the da

[2020-10-13 22:16] flo-compbio commented on #45
Yes, that makes sense. I was just thinking about how the way data is accessed/stored would affect the ability to implement a version control system for the data. I think my overall idea would be to decouple the version control system for datasets (ie. file hashes/snakemake) and methods (ie docker images) from the version control system for the code (ie GitHub), I think those two things are concept

[2020-10-14 02:24] flo-compbio commented on #103
I guess my idea was that methods should not be part of the codebase but instead just be docker images. Maybe you could keep the metadata for each method in the codebase, a yaml file could be sufficient for that. It just feels to me that there are too many functionalities tightly coupled together through the code and the testing system at the moment, and that the current architecture won't be able

[2020-10-14 17:12] LuckyMD commented on #45
Just to chime in quickly. I don't think that preprocessing would be another separate contribution, as this is part of contributing a dataset. If you want to use a dataset as a ground truth/standard, you should have ensured that it is preprocessed well so that it can be used. Just pulling a dataset from e.g., 10X, will not be sufficient. Scott already mentioned Figshare and a jupyter notebook, whic

[2020-10-14 17:15] LuckyMD commented on #103
I think it is paramount to have the methods as part of this. By ensuring the code is easily accessible it is possible for anyone to go and check what a method is doing. That makes it easy to detect cheating (which would be easy to do as you have access to the datasets via the data loaders and the ground truth).

[2020-10-19 16:07] aopisco opened #110 "[Task Proposal] - Marker genes identification"
**Describe the problem concisely**.
 Cell types are historically characterized by morphology and functional assays, but one of the main advantages of single-cell transcriptomics is their ability to define cell identities and their underlying regulatory networks. We have developed [scRFE](https://www.biorxiv.org/content/10.1101/2020.08.03.233650v2.full) to produce interpretable gene lists for all c

[2020-10-19 16:12] LuckyMD commented on #110
I like the idea of this and think benchmarking marker gene identification would be very impactful... but how do you define ground truth marker genes? Are these genes derived from the literature (usually surface markers)? Or are these markers that are validated across batches and datasets (sounds like a very tough task)?

[2020-10-19 16:30] olgabot opened #112 "Cross-species label projection"
**Describe the problem concisely**.

Many biological problems are first studied in nonhuman animals, and those cell types are often carefully characterized in e.g. mouse. We would like to take the cell type labels from a mouse dataset, and project it onto another species, such as human.

**Propose datasets**

- Mouse: Tabula Muris Senis lung - https://tabula-muris-senis.ds.czbiohub.org/
- Human: H

[2020-10-19 16:38] LuckyMD commented on #112
Do you think this should be separated from the label projection task that already exists, or would you consider this as a dataset extension of the label projection task?

[2020-10-19 16:53] flo-compbio commented on #103
@LuckyMD I think there's possibly some confusion (or maybe it's a difference of opinion) about what this codebase really needs to do. It looks to me that we need a framework which at its core needs to implement some form of "version control" for both datasets and methods, be able to execute the methods on those datasets, then evaluate the results against a set of methods, and present the results o

[2020-10-19 19:10] scottgigante commented on #112
the 1:many or many:many is an interesting and difficult question in defining the API here. We could choose to define it as having each cell belonging to between zero and n classes which would allow for a many to many classification

[2020-10-19 19:54] flo-compbio commented on #102
I don't understand the reason for requiring all genes to have a non-zero sum in all datasets. Methods should definitely be able to handle datasets where some genes are not expressed.

[2020-10-19 20:03] scottgigante commented on #102
There is just no reason to include these genes though, right? Plenty of methods do have issues with empty cells or empty genes, so why bother fixing every method when it's easy just to remove them?

[2020-10-19 20:12] flo-compbio commented on #102
I don't know, I would argue that in most contexts where you work with data, features can be all zero without it creating an issue. Measurements of zero are also measurements. Also, depending on how you preprocess a single-cell dataset (filter cells etc.) individuals features can become completely zero or not. It sometimes creates more problems if the feature set changes for each version of the dat

[2020-10-19 21:26] LuckyMD commented on #102
Processing should not create zeros, but rather remove them. I would also argue that a dataset that has 0 count genes or cells is not sufficiently filtered/QC'ed.. unless it's a part of a larger dataset collection that will be merged, in which case this is a desired state. A 0 count gene does not provide any further information for downstream processing, so why keep it? It's ignored in embeddings w

[2020-10-19 21:33] LuckyMD commented on #112
I would say that orthologs are a question of defining a dataset. In the end you will choose which subset of genes you make available to the method, no? In that case I would just run all the methods we have for label projection on this as well. I think it would actually be an interesting result if the method performance is different for the cross-species case. Maybe we need to start thinking of sub

[2020-10-20 11:49] LuckyMD commented on #102
@scottgigante so apparently sparsifying the expression data turns the pancreas dataset from 300MB into 1.7GB. It seems the sparsity of the expression matrix is quite low. Maybe it shouldn't be changed in that case?

[2020-10-20 13:24] LuckyMD commented on #102
Confirmed that the 18.1% of the matrix is non-zero. The other issue is that the `adata.layers['counts']` are `float32` as there are non-integer values in there with full-length protocols that are available as RPKM (Xin et al data). So I don't think this should be provided as sparse tbh.

[2020-10-20 15:38] scottgigante commented on #102
It doesn't make much sense to me that a 18% non-zero sparse matrix would be larger than a dense matrix of the same size. Example:
[code]
Here's my attempt at sparsifying the pancreas data:
[code]

[2020-10-20 16:00] LuckyMD commented on #102
Not sure what to tell you... but I've spent the past hour or so trying to figure out what else it could be... but I'm just doing a `adata.X = scipy.sparse.csr_matrix(adata.X)` and the same for the counts layer, and I'm getting sth that's more than twice the size after sparsifying... All I'm doing is the above... Not sure if `scipy.sparse.csr_matrix()` by default converts to `float64` or sth like t

[2020-10-20 17:32] LuckyMD commented on #102
is that 1.17GB on disk for the dense matrix? The object I'm building this from is ~300MB also on Figshare...

[2020-10-20 17:47] LuckyMD commented on #102
[code]

I'm doing the same thing you are... it's just not working for me ^^.

[2020-10-20 23:19] scottgigante commented on #102
Looks like your initial file was compressed, which is why it's small on disk but large in memory. Also, since we remove adata.layers["counts"] in the loader, we probably shouldn't include it in the initial file.
[code]

[2020-10-21 10:16] LuckyMD commented on #102
Damn... you're right... this was default in anndata until not too long ago. The file is just a little older.

I can of course change the uploaded file to remove the counts layer, but then I would have to create a separate Figshare for this... as it would no longer be the file we are using for benchmarking. And when I get around to adding the data integration benchmarking task, we perform preproces

[2020-10-21 13:59] scottgigante commented on #102
I think long term the data for open problems will be on S3 anyway so I imagine the storage will be separate anyway. I lean towards sticking with counts unless there's a very good reason not to since some analyses may use probabilistic assumptions on the counts.

[2020-10-21 17:32] LuckyMD commented on #102
For data integration we provide both `adata.X` and `adata.layers['counts']` and have been working with that so far. Methods that require counts, can get them (but note that not all datasets will have counts available, as some are full-length methods that are typically quoted in TPM or RPKM.

As for S3... I thought the overall data loaders should still be shared if I provide a dataset that might be

[2020-10-21 20:26] scottgigante commented on #102
Sure, but didn't we agree that for this project, we would just provide the raw count matrix (or nearest equivalent) and leave normalization to the method developer?

Yep, that's right -- but starting from raw counts would be true of all tasks, no? All I mean here is that it doesn't necessarily make sense to try to keep the same figshare URL for this project and the data integration project

[2020-10-21 22:21] LuckyMD commented on #102
We did... but I don't think this is feasible with full length scRNA-seq data as I wrote above. We might need to make this task-specific.

[2020-10-23 18:01] scottgigante commented on #103
I am actively working on an easier integration of R code. I feel very strongly that the code for all methods should be easily accessible in the repo.

[2020-10-23 18:03] scottgigante commented on #102
Sure, that makes sense. I think it is perfectly sensible to treat full-length scRNAseq as qualitatively different to count data.

[2020-10-23 22:45] LuckyMD commented on #102
So if you have an anndata object with both full length and count data in there you can no longer rely on our normalization methods... so you would have to provide it as already normalized data then, no? Unless you want to make a standardized annotations to say this is count or not.

[2020-10-26 14:48] dburkhardt commented on #102
This seems like an extension of the ATAC-seq conversation where we've been assuming UMI counts, but not all "single cell" is 3' UMI counts. I think we want to be careful of letting in too many data types too quickly, but it does seem clear that we need to identify specific "data archetypes" and make it clear which one is being used in each task / dataset

[2020-10-26 14:56] aopisco commented on #110
We have a compiled list of marker genes from the literature and expert groups that are mostly but not exclusively surface markers. We could start there?

[2020-10-26 15:28] #94 closed

[2020-10-26 15:29] scottgigante opened #114 "Drop singularity support"

[2020-10-26 15:30] aopisco opened #115 "Add MARS to label projection"
**What is the method?**
MARS is a meta-learning approach for identifying and annotating cell types. MARS overcomes the heterogeneity of cell types by transferring latent cell representations across multiple datasets. MARS uses deep learning to learn a cell embedding function as well as a set of landmarks in the cell embedding space. [here](https://www.nature.com/articles/s41592-020-00979-3)

**Whe

[2020-10-26 15:30] scottgigante opened #116 "Create script to run only a single task in testing"
For time saving in active development

[2020-10-26 17:43] LuckyMD commented on #110
I think that sounds fair. Ideally this task would have a second dataset with marker genes that are not mostly surface markers to show some diversity of test cases. Could we come up with a second dataset as well?

[2020-10-26 17:47] LuckyMD commented on #114
I'm confused... move to only docker? Is this with moving from Snakemake to Nextflow?

[2020-10-26 17:58] scottgigante commented on #114
Nope, still snakemake -- but as soon as anyone modifies the dockerfile, because of the way snakemake interacts with dockerhub, the only way to test the updated dockerfile is to have access to the main dockerhub account. So instead we'll assume root access on evaluation and just run the images in snakemake using docker, rather than singularity.

[2020-10-26 18:09] LuckyMD commented on #102
We could define clear "data archetypes" and control this centrally (then normalization can become very difficult if we have combinations of data archetypes), or we make it more malleable/less defined and do this on a task level. I don't think it can be done on a dataset level as the methods in a task should apply to most datasets... so it can't be that sometimes data is pre-normalized and sometime

[2020-10-26 18:13] LuckyMD commented on #114
Makes sense. I was actually looking for a way to run docker in Snakemake, but could only find the singularity flag in the documentation.

[2020-10-26 20:47] scottgigante commented on #102
I lean towards task-level with strong recommendations towards less preprocessing where possible?

[2020-10-26 23:14] LuckyMD commented on #102
I would agree. In that case I will upload the new pancreas dataset to figshare in the benchmarking data integration entry, and adapt the pancreas data loader to not throw away the preprocessed data, but do this in the task loader instead to make this more adaptable for the future data integration task.

[2020-10-28 15:28] #114 closed

[2020-10-29 13:48] LuckyMD opened #118 "Proposal: Use sfaira data loaders to load from S3"
Hey!

Sfaira is a theislab project to standardize data loading and with harmonized cell type labels that should be in preprint very soon: https://github.com/theislab/sfaira

I was wondering if we want to move to this once we move to S3. We might be in the situation that we are reproducing a simpler version of this otherwise.

[2020-10-29 19:22] scottgigante commented on #118
My first instinct is this might be overkill but it's not entirely clear to me what it does yet.

[2020-10-30 00:01] LuckyMD commented on #118
Standardized downloading of data (and cell type mapping) via a class per dataset and then storage in some location (e.g., S3) and easy access to the data. Given that there are already 100s of classes in there we would get a lot of datasets for free with sfaira. So could easily choose datasets from there for further benchmarking as well.

[2020-10-30 16:06] scottgigante commented on #118
Okay that's nice. Would the sfaira devs be interested in helping us implement?

[2020-10-30 16:36] LuckyMD commented on #118
Will contact them. Can also see if it's easy to do just via the github instructions.

[2020-11-05 23:08] scottgigante opened #119 "Travis CI's new billing plan"
Limited by usage per month. We're already over for the month and it started on November 1.

https://docs.travis-ci.com/user/billing-overview/#travis-ci-plan-types

[2020-11-08 19:18] LuckyMD commented on #119
I guess that means github actions all in now?

[2020-11-09 17:05] scottgigante commented on #119
I think so, yes.

[2020-11-29 16:51] michalk8 opened #125 "Refactoring"
Hi @scottgigante ,
I've briefly spoken with @LuckyMD  about some refactoring ideas for the code that might make adding/modiying stuff and ultimately the testing easier.

In general, there are 2 areas that could be improved:
1. the abstraction (going away from all the decorators to more OOP approach) - this will better constrain creation of tasks/methods and remove bunch of code duplication (e.g. h

[2020-11-30 15:11] dburkhardt commented on #125
I like this idea in general. I don't see any issue with replacing the method decorators with config .yaml config files, and that will make the methods more generalizable. We did want to have first-class Python support because eventually the goal is to have this platform drive innovation in ML, where Python is the dominant language.

I'm wondering if you could explain more what you mean by the firs

[2020-11-30 22:15] michalk8 commented on #125
I.e. if we imagine we have some abstract class `Method` with 1 abstract method `_run_algo` and 2 other methods `_preprocess` and `_postprocess`, one could do:
[code]

It could also inherit the metadata and modify relevant parts (in the linked example, all the fields are the same except for the method name).
However, this is very simplistic implementation (better abstraction would be a method facto

[2020-11-30 22:18] LuckyMD commented on #125
Hey @michalk8, I sent you an email to your protonmail account. Hope that's the correct one.

[2020-12-01 12:25] michalk8 commented on #125
I've received the email, thanks @LuckyMD !

[2020-12-07 16:15] scottgigante opened #126 "Load datasets in Docker"
Currently dataset loading occurs in the base OS. Should it be broken out into a Docker container like methods and metrics?

[2020-12-07 16:15] #119 closed

[2020-12-08 21:29] michalk8 commented on #125
Sorry for being a bit late with this - still working on the diagrams, but tomorrow I will definitely post some alpha version so that we can start discussing.

[2020-12-09 23:13] michalk8 commented on #125
I've done the pre-alpha class diagram of the general abstraction, including for the tests (with which I'm currently most dissatisfied). I've tried to keep the abstract as simple as possible, though already I see some design flaws that I would change.

Note that many attributes/methods/method arguments are still missing. Also the more I got into this, the more I think some form of a DB could/should

[2020-12-10 01:35] LuckyMD commented on #125
Wow... this is elaborate. A lot to take in at first glance. I like the separation of the evaluation runs and the task definition. However, if I see correctly the task and method classes are separate, right? I thought we were considering the method class (and metric for that matter) as a subclass of task? That way it might be easier to define a task as having at least 1 method defined and 1 metric.

[2020-12-10 16:43] scottgigante commented on #125
Two main themes from me.

1. Agree on the way tests are currently run in containers being unsatisfying, though since it's internal (doesn't really affect method/task contributors) I see it as a somewhat lower priority
2. The low-level details are a little beyond my ability to evaluate the structure, but I think the relationship between tasks, methods, datasets and metrics is the biggest question h

[2020-12-11 13:27] michalk8 commented on #125
That's the other way to do it, though esp. for metrics, they can often be reused in multiple tasks, so they'd either have to subclass bunch of task classes (this could explode in the future) - it would be better just use composition (i.e. task class has 1 method and 1 metric and just create instances with diff. methods/tasks).

The reseason why I've separated the task and methods/metrics don't sub

[2020-12-11 13:42] LuckyMD commented on #125
I have the feeling that the organization you suggest makes it more difficult for a new user to submit a method as the output of the method would then have to potentially be task agnostic. This is not how we have been thinking about task and method interplay so far (and I don't think is task-agnostic methods are generally possible). Currently a task is defined by a particular output of a method. Fo

[2020-12-11 15:56] scottgigante commented on #125
I agree with Malte that this might make it more difficult to contribute a new task. In theory there can be methods / metrics / datasets that can be reused across tasks, but since each task's API is different they almost certainly will need to be adapted, so the automatic matching with provisions and requirements, while elegant, might end up being overkill.

[2020-12-11 17:12] #76 closed

[2020-12-11 17:12] #75 closed

[2020-12-11 17:18] scottgigante opened #127 "SHARE-seq"
**What is the dataset?**
SHARE-seq
https://www.sciencedirect.com/science/article/pii/S0092867420312538?via%3Dihub
https://www.biorxiv.org/content/10.1101/2020.06.17.156943v1.full.pdf

**Where is the data located?**
https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE140203

**Which tasks could it be used for?**
Regulatory effect prediction, multimodal data integration

[2020-12-11 17:19] scottgigante opened #128 "SNARE-seq"
**What is the dataset?**
SNARE-seq
https://www.nature.com/articles/s41587-019-0290-0

**Where is the data located?**
https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE126074

**Which tasks could it be used for?**
Regulatory effect prediction, multimodal data integration

[2020-12-11 17:20] scottgigante opened #129 "SoTA methods for regulatory effect prediction"
Methods to be listed by @qinqian

[2020-12-11 17:21] scottgigante opened #130 "MSE for regulatory effect prediction"
**What is the metric?**
Mean squared error between gene expression and predicted gene expression, perhaps allowing for renormalization of gene scores.

**How should it be implemented?**
scikit-learn

**Which task(s) could it be used for?**
Regulatory effect prediction

[2020-12-11 17:25] scottgigante opened #131 "Nesterowa data is dense"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the master branch of openproblems.

---

FutureWarning: dimensional_reduction-human_blood_nestorowa2016: self.adata.X is loaded as dense. This will raise a TypeError in openproblems v1.0
https://github.com/singlecellopenproblems/SingleCellOpenProblems/runs/1519333977?check_suite_focus=true

[2020-12-11 17:26] scottgigante opened #132 "PBMC data is dense"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the master branch of openproblems.

---

FutureWarning: denoising-pbmc: self.adata.X is loaded as dense. This will raise a TypeError in openproblems v1.0
https://github.com/singlecellopenproblems/SingleCellOpenProblems/runs/1519333977?check_suite_focus=true#step:11:358

[2020-12-11 17:28] scottgigante commented on #80
Thinking about how to use DEMaP in these settings where we are not simulating data. Would it make sense simply to have a separate task or subtask where ground truth is available and only use it there? Or treat the raw data as ground truth and compute DEMaP anyway?

[2020-12-11 17:29] LuckyMD commented on #128
yes, could also use the SHARE-seq data from buenrostro lab in the same way :).

[2020-12-11 17:29] #79 closed

[2020-12-11 17:30] LuckyMD commented on #127
hah... ofc i see the other post before this ;).

[2020-12-11 17:30] scottgigante commented on #8
Duplicate of #40

[2020-12-11 17:30] #8 closed

[2020-12-11 17:30] #5 closed

[2020-12-11 17:51] qinqian commented on #128
Yes, I'll take a look at SHARE-seq and SNARE-seq.

[2020-12-11 20:09] scottgigante opened #133 "Documentation of how datasets on figshare were generated"
We have a number of datasets on figshare, e.g.
* https://github.com/singlecellopenproblems/SingleCellOpenProblems/blob/master/openproblems/data/pbmc.py
* https://github.com/singlecellopenproblems/SingleCellOpenProblems/blob/master/openproblems/data/pancreas.py
* https://github.com/singlecellopenproblems/SingleCellOpenProblems/blob/master/openproblems/data/human_blood_nestorowa2016.py
* https://git

[2020-12-13 22:56] michalk8 commented on #125
Thank for the feedback from the both of you. You're right that it's an overkill/not so easy to understand in the current form.
Will try to refactor/simplify the diagram in the next couple of days.

[2020-12-14 16:45] jinzhuangdou commented on #127
There is a good dataset for multi-omic integration validation.

[2021-01-03 19:28] dburkhardt opened #140 "[Task] Differential abundance"
**Describe the problem concisely**.
Quantifying changes in cell type abundance between datasets

https://www.biorxiv.org/content/10.1101/532846v4
https://www.biorxiv.org/content/10.1101/2020.11.23.393769v1.full

**Propose datasets**
https://science.sciencemag.org/content/360/6392/981

**Propose methods**
https://github.com/KrishnaswamyLab/MELD/
https://github.com/MarioniLab/miloR

**Propose metric

[2021-01-03 19:33] dburkhardt commented on #140
Things coming up as I work on this task:
1. Needed subtasks: e.g. in the current framework, I'm artificially enriching or depleting populations of cells and assigning to replicates / conditions based on the degree of enrichment. The difference between 2 or 3 conditions / replicates requires changing parameters on the experiment simulator function, and some methods may do better or worse with more/

[2021-01-04 12:31] LuckyMD commented on #140
Another method for the mix: [scCODA](https://www.biorxiv.org/content/10.1101/2020.12.14.422688v2). There a simulation framework in there as well and Maren extensively looked for published datasets which could be used. So it wouldn't only need to be artificial. However, ground truth is an issue without simulation.

[2021-01-04 15:52] dburkhardt commented on #140
Does scCODA provide an estimate for each cell or just for each cluster label? One issue here is that methods like MELD and MILO provide a different estimate for each cell (if I understand MILO correctly). If we use a simulation framework like is being used in the `task/differentialabundance` branch where the effect of the perturbation varies continuously, then I think scCODA won't do well simply b

[2021-01-04 16:00] emdann commented on #140
Hi, just jumped on this one

Milo's Fold-change estimate is on a neighbourhood on the KNN graph, not on each single-cell. A cell specific score could be obtained by averaging the scores across neighbourhoods to which the cell belongs.

[2021-01-04 17:11] LuckyMD commented on #140
I think we might need to find separate task definitions for cell-specific condition probabilities and cluster-wise differential composition testing. As a first brain-storm
1. Differential composition analysis (for cluster-wise analysis)
2. Manifold density analysis

Methods for the latter can also be applied to the former of course.

[2021-01-06 16:02] scottgigante opened #142 "Use a self-hosted runner on AWS for benchmarking"
https://docs.github.com/en/free-pro-team@latest/actions/hosting-your-own-runners/about-self-hosted-runners

[2021-01-06 17:14] LuckyMD commented on #142
This would basically bring the benchmarking runs back into the CI framework then? That's quite cool... basically just have to do `test=False` for all datasets and that should be it, no?

We should probably think about how to avoid rerunning benchmarks for cases where code hasn't changed. Maybe this is possible via checking if the docker image is still cached?

[2021-01-06 19:58] scottgigante commented on #142
Since we're doing this with snakemake, we could actually cache the results quite neatly using the github actions cache system. However we would need a clean way of stating all dependencies for a given method. One option might be to take everything imported in the module where the method is run and compute a hash of all of the code used -- then if any of the dependencies change, we would know. Alte

[2021-01-08 19:21] dburkhardt commented on #140
Great meeting today! Uploading some notes from the call:

*Meeting 1/8/2020*
* This task will require subtasks
* Want a more non-linear way to generate differential abundance vectors
* We want to have a good set of 1) inputs 2) outputs and 3) way to generate data from multiple models for each possible subtask
* @emdann suggested using dyngen with slightly different parameters to generate two singl

[2021-01-08 19:33] dburkhardt commented on #140
In the interest of defining subtasks, I've come up with a description of the "single cell condition likelihood estimation" subtask that I've been working on (would **love** a better name).

**Input**
1. `expression_matrix` array-like, shape=(n_obs, n_var) - a single-cell expression matrix
2. `condition_probability` array-like, shape=(n_obs, n_conditions) - a collection of vectors over the cells th

[2021-01-11 10:11] LuckyMD commented on #142
If we do this hash approach, we would still need to communicate this to snakemake somehow... maybe by updating the timestamp a file downstream of the method result?

How important do you think it is to include dependencies in the versioning of the method? Without accounting for dependencies everything is probably much easier.

[2021-01-11 15:23] scottgigante commented on #142
That's a good point re: dependencies. Plus we already reference code version in the decorator so that could be a nice proxy for dependencies changing. And yes, we would have to communicate this to snakemake -- maybe the hash is written to a file.

[2021-01-11 15:28] LuckyMD commented on #142
I guess then the evaluation script itself just has a check on the hash and you don't need to involve any Snakemake functionality? However, you would still need to produce an output file for the snakemake pipeline to work... so probably just updating the timestamp on the old output file if the hash is the same would have that effect.

[2021-01-11 20:00] scottgigante commented on #142
Well if the hash doesn't change then snakemake shouldn't have to rerun,
right? So by naming the hash file as a snakemake dep then we effectively
get what we want.

[2021-01-12 13:25] LuckyMD commented on #142
So you'd have a file with the dependency hash that only gets updated if the hash changes and otherwise has the same timestamp, leading to the rule that has this hash file as input to never change. I think that makes sense. Then the hash check would not be allowed to a Snakemake rule, as it might not generate an output.

Do you have a DAG of the current snakemake pipeline?

[2021-01-16 00:24] dburkhardt commented on #80
I think it's probably better to do this only on simulated data where there's ground truth. I think we could probably use a few different kinds of simulated data?

[2021-01-19 19:18] emdann commented on #140
Hey @dburkhardt and all
I have a comment about the implementation of the treatment simulation. I see that at the moment we simulate an experimental design where for the same (biological?) replicate both conditions are present (see [here](https://github.com/singlecellopenproblems/SingleCellOpenProblems/blob/299613ef0ee694fa84dd7770f01079c72dfe3bef/openproblems/tasks/differential_abundance/datasets/

[2021-01-21 08:14] MarcElosua commented on #140
hi @dburkhardt and all,

To quantify differential abundance between datasets you might also be interested in trying logistic regression to compute the OR between conditions and adjust for covariates.

I link a [post](https://www.nxn.se/valent/2020/11/28/s9jjv32ogiplagwx8xrkjk532p7k28) by Valentine Svensson in which he shows how to use this implementation and provides a dataset and a twitter [threa

[2021-01-25 08:53] emdann commented on #140
Thoughts around a second subtask, as proposed by @wes-lewis. I’ve highlighted some issues that IMO require some discussion.

**Detection of perturbed subpopulations**

**Aim:** we want to evaluate the ability of DA methods to detect subpopulations of cells that are similar in gene expression space and similarly enriched or depleted by an experimental perturbation. This subtask should evaluate the

[2021-01-25 16:39] dburkhardt commented on #140
Just to clarify here, @emdann, MELD does not require paired replicates, you can normalize the likelihoods however you want. The goal of the likelihood is to say "here is the PDF of ≥2 variables, where is each higher or lower than the other(s)?" I haven't yet written a pipeline for cases where you have an uneven number of treatment / control samples, but that's definitely handle-able and we should

[2021-01-25 16:48] qinqian commented on #129
Two additional methods has been added

[2021-01-25 21:02] wes-lewis commented on #140
My apologies for not adding my thoughts until now! Another method that I'm eager to add is DA-seq, which seems worth directly comparing against the others thus-far suggested, and is available here:
https://github.com/KlugerLab/DAseq
https://www.biorxiv.org/content/10.1101/711929v1

I also very much agree with @emdann's description of a population recall parameter, which would depend heavily on the

[2021-01-27 01:45] dburkhardt commented on #140
Hi @MarcElosua, I'm excited that you're interested in OpenProblems! I had seen this article on GLMs, and I think the idea of using a Logistic Regression Classifier is somewhat similar to the DA-seq package that @wes-lewis mentioned above. We readily welcome contributions to this discussion in this thread and in PRs!

[2021-01-27 01:52] dburkhardt commented on #140
I like this idea. I think the questions I have are
1) How do you decide which subpopulations are the deferentially abundant between samples
2) Is the idea that the affected subpopulations have a uniform level of enrichment that changes discretely between subpopulations?
    * I understand the algorithmic appeal of this. For the MELD manuscript, we introduce a clustering algorithm to identify DA po

[2021-01-27 09:21] emdann commented on #140
Good question. We could generate conditional probabilities with `simulate_treatment` and select a threshold (e.g. prob > 0.6 == enrichment, prob < 0.4 == depletion) and we could chart the methods' power at different threshold levels. Alternatively, we could define populations `a priori` - e.g. with clustering or using true cell type labels from the dataset - and assign enrichment probabilities to

[2021-01-27 11:57] emdann commented on #140
See an example below on a dataset of mouse gastrulation I was playing with. Here I assign condition probabilities based on distances from cluster centers, where each center has a baseline probability (here sampled randomly from a uniform distribution). Is this close to what you were thinking?
![Screenshot 2021-01-27 at 11 52 36](https://user-images.githubusercontent.com/32264060/105987626-73da9d80

[2021-01-28 13:12] dburkhardt commented on #140
I was inspired by this idea @emdann, and I think I have an idea that might work well for us. Thinking about these cluster centers as the local maxima or minima of this probability function give us an interesting way to smoothly interpolate between the heights of those peaks and the rest of the valleys. There's a process called [inverse distance weighting](https://en.wikipedia.org/wiki/Inverse_dist

[2021-01-28 18:15] wes-lewis commented on #140
Thank you for making this idea more concrete @emdann and @dburkhardt! From my perspective, one advantage of @emdann's proposal is to utilize known cluster identities within a set of carefully labeled datasets, although it might be the case that these cluster centroids on the combined matrix might not be characteristic of enrichment/depletion between samples in a real setting. Nonetheless, having D

[2021-01-29 15:12] dburkhardt commented on #140
I think you're on the right track here @wes-lewis. My argument thought is that I think this is a strong assumption I haven't seen supported by my experience (although perhaps we should investigate this further).

Why should density centers in the data or nodes with the most-centrality (what actually is the centroid of a louvain cluster?) be the peaks of differential abundance? Take this dataset fr

[2021-01-29 18:27] wes-lewis commented on #140
Thanks for the quick reply @dburkhardt! I appreciate that perspective, and generally agree with you. I've added some comments and thoughts below:

I agree with these points completely. It's my experience as well that DA regions tend to be the extrema, and I keep returning to the thought that being able to preferentially sample peaks of DA regions from the extrema could therefore be helpful. Regard

[2021-02-01 14:22] dburkhardt commented on #140
So if I can summarize so far, it sounds like we're all on board with the idea of using some set of references to pick the local minima and maxima of enrichment and then smoothly interpolating between those peaks? Please correct me if I'm wrong @emdann and @wes-lewis.

At this point, it seems the questions are:

1) How do we pick the minima/maxma
2) How do we interpolate between them
3) How do we b

[2021-02-02 08:46] emdann commented on #140
Thanks @dburkhardt and @wes-lewis for the very insightful discussion! I fully agree with points (1) and (2) in the summary from @dburkhardt.

On the point of discretization, converting a population-level (be it neighbourhoods, or clusters, or cell types) fold-change to a  condition probability for each cell is not straightforward, since population-level probabilities are not independent. An option

[2021-02-04 14:46] dburkhardt commented on #140
@emdann glad we mostly agree! I guess I'm not entirely sure what you're suggesting is the issue here. Maybe it would be best to set up a chat?

What do you mean by:

My understanding is that if we say differential abundance is smooth over a graph, then by definition DA is a measure that must be estimable at the level of individual cells/nodes because that's how one would calculate smoothness (usin

[2021-02-07 10:33] emdann commented on #140
I might be coming to this with too much of a statistical testing mindset, where the scientist decides what an interesting effect size and significance threshold are. Probably easier to organize a chat to pin down some details here!

[2021-02-08 16:25] dburkhardt opened #157 "[Feature] Subtasks"
Question: how do we add subtasks

[2021-02-09 00:39] LuckyMD commented on #157
There are a few scenarios we have to consider for different types of subtask scenarios:
1. Identical methods, metrics work on a subset of methods
2. Identical methods, metrics require particular dataset input
3. Some same methods, but with differing output processing
4. Differing, but related methods

For scenarios 1 and 2, we could actually just do the hacky thing and import methods from other ta

[2021-02-11 16:34] dburkhardt opened #158 "[Feature] Parameter sensitivity analysis"
After talking with @mvinyard and @dkobak, I'm realizing that it's important to consider a use-case for open problems to help people do parameter searches. I think we might only need to include a simple vignette where we run the pipeline for a method over a number of different parameters and some plots to compare the output.

[2021-02-15 17:13] LuckyMD opened #159 "Dealing with data archetypes"
This follows on a bit from #102 and a conversation with @scottgigante and @aopisco just now. We will need to set up a guideline for how to deal with tasks with multiple data archetypes (like data integration).

Definition of data archetype:

We typically want to have data loaded as counts/raw data. However, tasks with multiple data archetypes (e.g., batch integration, multi-modal data integration)

[2021-02-22 16:36] dburkhardt commented on #159
This may be an issue to work in on the sfaira side

[2021-02-22 17:27] dburkhardt commented on #140
To-dos from our conversation today:
* Add IWD + density subsampling for per-cell DA testing instead of current data generation strategy (Dan)
* Add thresholding test, where we want all cells above or below a certain threshold, TPR/ FPR for different thresholds, not paired case control (Emma will start with 1 paragraph description)

[2021-03-07 16:33] dburkhardt opened #178 "[Proposal] Calling non-Python methods within Open Problems"
As this project is growing, it would be great to be able to build out compatibility for methods / metrics in non-Python languages. @scottgigante did a great job building out functionality for native .R files in https://github.com/singlecellopenproblems/SingleCellOpenProblems/pull/177. It's still a little clunky that these methods need to be imported and decorated in a Python file. I think it would

[2021-03-08 19:09] scottgigante commented on #178
This wouldn't need to be in nextflow -- it can all be in Python. Just needs to interact with the `openproblems-cli` api. Before the jamboree seems difficult though. This is a much bigger project.

[2021-03-08 19:13] scottgigante commented on #178
Things that would need to happen:

- [ ] Execute code from openproblems-cli in a subprocess
- [ ] Load and save data in the native language of the function
- [ ] Compute `openproblems-cli hash` using TOML contents
- [ ] Compute method `version` inside method and print it to a separate file.

Loading data is the big problem. Can we read and write h5ad from R?

[2021-03-09 15:44] dburkhardt opened #184 "Workflows from Forks"
Testing out some infrastructure for the jamboree, and I'm realizing we need to make some changes to how the GA workflows run. I see two issues right now:

1. The repositories for forked users won't have the relevant secrets for AWS and Coveralls. This affects the following steps:
    1. [Set up S3FS](https://github.com/SingleCellOpenProblems/SingleCellOpenProblems/runs/2068012637?check_suite_focus

[2021-03-09 16:02] dburkhardt commented on #184
Okay so for 1, it looks like we can use the `github.repository` property name to do some check to see if the Action is being called from the `singlecellopenproblems/singlecellopenproblems` repo or from a `username/singlecellopenproblems` repository. [Documentation here](https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#github-context).

We can then do on

[2021-03-09 16:20] dburkhardt commented on #184
Good news, Option 2 seems very easy. You just need to add `if: github.repository == 'singlecellopenproblems/singlecellopenproblems'` to each step that you want to run only on the main repository. Not sure if this will still allow everything to run, but glad I found that out

[2021-03-09 17:09] scottgigante commented on #184
If anyone wants to run the tests, they will need to use AWS -- the plan is to provide every user with their own AWS access key.

[2021-03-09 17:15] scottgigante commented on #184
I'm comfortable with docker push failing if they don't have the password. One thing that should probably be optional is using tower with nextflow -- this is not strictly necessary and we could probably not use if it the token is unavailable

[2021-03-09 18:50] dburkhardt commented on #184
I see, this wasn't clear to me. So I guess #185 should be closed without merging?

[2021-03-09 19:07] LuckyMD commented on #178
The data part is specifically also what I mentioned in my email exchange with Mark Robinson. I think this would not stand the test of time so well without continuous maintenance. Reading and writing between `R` files and `.h5ad` is possible via `anndata2ri` and the Seurat `as.SingleCellExperiment()` function. However, R methods often have their own data structures built on top of SCE, such as LIGE

[2021-03-09 19:13] dburkhardt commented on #178
This was a workaround Scott and I talked about.  The difficulty here is that for R, it would get run in r2py, which is not a native R system. I'm not sure what we would do for C or Julia down the road.

I think we might need to get some feedback from the R community about this. Would they rather use r2py or have to write and wrangle with data converters for each method?

[2021-03-09 19:17] dburkhardt commented on #178
@emdann and @wes-lewis  what do you think about this? Would you rather have R methods be run in r2py or have to worry about using converters from AnnData to SCE?

[2021-03-09 19:31] LuckyMD commented on #178
The other option is via `subprocess` and `Rscript`. That way we could run this natively... but we would still require data conversion. We could always give a standard option for converting from SCE to anndata in a python conversion function (we have this in our (scib-pipeline)[www.github.com/theislab/scib-pipeline] repo). I'm guessing `scprep` runs via `anndata2ri` at the moment and relies on SCE

[2021-03-09 19:56] emdann commented on #178
I think conversion from `anndata` to `SingleCellExperiment`, either with `zellconverter` or `anndata2ri`, is not too problematic.  Those writing methods in R could write scripts/functions that expect SCE as input and produce SCE as output, and the boiler plate python file could run utils for the conversion. R methods that use different classes like `SeuratObject` or `CellDataSet` from `monocle3` w

[2021-03-22 09:23] LuckyMD opened #217 "Fields for new dataset inclusion for future compatability w/ Sfaira/cellxgene"
Here is a list of fields that new data loaders added during the jamboree should provide to make future integration with cellxgene easier:

[code]

[2021-03-22 14:51] scottgigante commented on #217
Can we add these to the dataset decorator function so that they're enforced?

[2021-03-22 16:46] LuckyMD opened #218 "GA pipeline fails on fork"
- [x ] I have checked that this issue has not already been reported.
- [x ] I have confirmed this bug exists on the master branch of openproblems.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug.

Not sure if you were discussing this towards the end of the c

[2021-03-22 22:57] LuckyMD commented on #218
Theh error persists after pulling from base master... @scottgigante

[2021-03-23 01:26] dburkhardt commented on #218
Okay some troubleshooting from my end.

I tried downloading the Docker image from ECR (pushed at March 22, 2021 7:26:23 PM (UTC-04)):

[code]
So it's definitely got the correct version of rpy2

[2021-03-23 01:56] LuckyMD commented on #218
I'm testing with version of rpy2 < 3.4 now... As I don't think it's the latest version of rpy2 that's the problem. The rpy2 issue that was pointed to in the anndata2ri issue you raised is solved in 3.4.3 and came up in 3.4.2. So I'm not sure where this is going wrong here.

[2021-03-24 02:36] mvinyard opened #226 "Discussion on methods and metrics to be included in Dimensionality Reduction task"
This is a seed to begin a thread/discussion for methods and metrics that might be incorporated into the Dimensionality Reduction task.

Points of discussion:

1. Parameterization of methods
2. linear vs non-linear methods for single-cell
3. pre-dimensionality reduction normalization/scaling

4. Thoughts on feature selection methods to potentially add:
    - Non-negative matrix factorization (NMF)

[2021-03-24 22:28] dburkhardt opened #228 "Nextflow execution_trace.txt reporting exit status `-` for some methods with successful output"
[results.zip](https://github.com/singlecellopenproblems/SingleCellOpenProblems/files/6200830/results.zip)
- [X] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the master branch of openproblems.

---

So this issue is coming up with the `docker-jupyter-kernels` branch. Not sure if it will propagate for other folks. Right now, as of https://gi

[2021-03-24 23:42] LuckyMD commented on #228
Scott recently fixed a bug like this on the method outputs in the past couple of days (#209). There was some inconsistency in how method outputs were interpreted. Might just be a further fix of the same type needed there?

[2021-03-25 00:00] dburkhardt commented on #228
Well good news is this is currently passing on @olgabot's PR: https://github.com/singlecellopenproblems/SingleCellOpenProblems/actions/runs/684539619

I think I'll pull that one into master and we can address the caching later. Right now, her run-benchmarks job took 1hr40min which is only marginally longer than with caching

[2021-03-25 15:51] vitkl opened #233 "Spatial decomposition task"
**Describe the problem concisely**.
Determining abundance of cell types (or expression of NMF programmes, etc) across spatial locations by integrating single cell or single nucleus RNA-seq and spatial transcriptomics data (Visium, Slide-Seq, NanostringWTA, ISS, etc). For example, as presented in our paper (https://www.biorxiv.org/content/10.1101/2020.11.15.378125v1v).

**Propose datasets**
- Synth

[2021-03-25 18:52] LuckyMD commented on #233
This sounds like a great idea! I think @giovp was also interested in this task I believe.

To facilitate defining an API, it might be good to pin the exact task description down a little bit more. Based on your datasets and proposed metrics I guess this might entail the cell type deconvolution of spatial spots? Should it then maybe be called "spatial spot deconvolution"? You can always introduce m

[2021-03-26 22:31] AlexWeinreb opened #240 "[Task proposal] Call gene expression from scRNA-Seq"
**Describe the problem concisely**.
RNA-Seq provides quantitative measures of RNA abundance in the sequenced cell types. However, a major question of interest is typically quantitative: is the protein encoded by a given gene expressed in a given cell type? Or an alternative formulation: what is the probability that a given gene is expressed (or not) in a given cell type?

**Propose datasets**
***C

[2021-03-27 23:40] dkobak commented on #226
Thanks for starting this thread Michael. But given that there is only one day left until the jamboree (and it's Sunday), I am not sure what's the best course of action now. We won't really have time to discuss anything here before the jamboree starts. Should we have this discussion during the jamboree then? I am pinging @scottgigante who is the tech lead of the `Dimensionality reduction for visual

[2021-03-27 23:47] dkobak commented on #226
Looking at what is already implemented for the DR task, there are four methods implemented -- PCA, t-SNE, UMAP, and PHATE. One immediate point here is that t-SNE is implemented through Scanpy (https://github.com/singlecellopenproblems/SingleCellOpenProblems/blob/master/openproblems/tasks/dimensionality_reduction/methods/tsne.py), but Scanpy uses a slow t-SNE implementation with suboptimal default

[2021-03-28 23:51] LuckyMD commented on #226
I believe the idea is to have everything on github that will be discussed as well so that we can more easily follow up after the event as well :). In the end, whoever wants to join in the conversation is welcome.

As for the metrics... what about adding all objective functions as metrics rather than none? These are objective functions for a reason in the end... it might also be quite informative h

[2021-03-29 09:58] vitkl commented on #233
I agree a more precise description would help. How about `Estimation of cell-type proportions per location/voxel (aka deconvolution)`?
I think "spatial spot deconvolution" need explaining: "spot" is not general language, "deconvolution" is technically incorrect and neither RCTD nor cell2location papers use this term. Maybe it can be kept for reference "aka deconvolution".

I see 2 related tasks (w

[2021-03-29 12:40] LuckyMD commented on #233
I love the 2 subtasks. I would focus on 1 for now... the second one is more likely to have some kind of ground truth I imagine.

[2021-03-29 12:49] vitkl commented on #233
I would say that there are 3 sub-tasks:

1. Estimation of **relative** cell abundance / cell-type **proportions per location** (supported by all methods)
2. Estimation of **absolute** abundance
3. Estimation of relative cell abundance in **bulk RNA-seq**

For 3, Bisque method paper (https://www.nature.com/articles/s41467-020-15816-6) indeed has nice ground truth.

[2021-03-29 16:55] const-ae opened #246 "[dimensionality-reduction] Find a measure how much the result is confounded by size factor"
The issue is motivated by observations such as these from the [sctransform](https://genomebiology.biomedcentral.com/articles/10.1186/s13059-019-1874-1) paper:

![image](https://user-images.githubusercontent.com/5359014/112872015-2db6b000-90c0-11eb-9439-b6962ed6a6ab.png)

The size factor is the number of counts per cell which can vary by a factor of 2-4.

**What is the metric?**

Well not quite sur

[2021-03-29 16:56] zsteve opened #247 "[Dimensionality reduction] add diffusion maps"
**What is the method?**
Diffusion embeddings for single-cell visualisation. See e.g.

 - Haghverdi et al. (2015), Diffusion maps for high-dimensional single-cell analysis of differentiation data, Bioinformatics.
 - Coifman et al. (2005), Geometric diffusions as a tool for harmonic analysis and structure definition of data: Diffusion maps, PNAS.

**Where is the code located?**
An implementation is

[2021-03-29 17:07] stephaniehicks opened #248 "[dim reduction] method: add glmpca"
**What is the method?**
glmpca can be thought of similar to pca and can be used in e.g. UMAP downstream

- Townes et al (2019): https://genomebiology.biomedcentral.com/articles/10.1186/s13059-019-1861-6

**Where is the code located?**

- CRAN: implements full version https://cran.r-project.org/web/packages/glmpca/index.html
- scry: wrapper for glmpca in CRAN. Implements fast, approx version of glm

[2021-03-29 17:10] bendemeo opened #249 "[Dimensionality reduction] method: densMAP"
**What is the method?**
densMAP (and the related denSNE, separate issue) address the issue of density preservation in two-dimensional visualization. While UMAP assigns larger populations a greater area in the projection, densMAP aims to assign area based not on population size but on the amount of space it takes up in the input multi-dimensional space. densMAP is published [here.](https://www.natu

[2021-03-29 17:13] const-ae commented on #246
@lazappi suggested: correlation by label

[2021-03-29 17:14] emdann commented on #140
**Data:** we simulate ground-truth differential abundance between biological conditions by selecting maxima and minima of DA and interpolate with IWD. This will be implemented in `differential_abundance.datasets.utils._simulate_treatment`

- Picking points with geosketching: picking with PCA leads to biases, using PHATE or DiffMaps instead. Indices get stored in the `anndata.uns`.
- Ensure that we

[2021-03-29 17:15] bendemeo opened #250 "[Dimensionality reduction] denSNE"
**What is the method?**
denSNE (and the related densMAP, separate issue) address the issue of density preservation in two-dimensional visualization. While t-SNE assigns larger populations a greater area in the projection, denSNE aims to assign area based not on population size but on the amount of space it takes up in the input multi-dimensional space. denSNE is published [here.](https://www.natur

[2021-03-29 17:16] const-ae commented on #246
Other idea:  correlation within a small neighborhood

`+` works independent of labels

`-` additional hyperparameters like size of the neighborhood

[2021-03-29 17:18] Munfred opened #251 "Plans for label projection"
From initial discussion we came up with a few things we care about:

1) Adding more datasets for specific organisms/life stages/tissues we think are really good and well annotated
2) Complex data loaders
3) Baseline models
4) More metrics

[2021-03-29 17:21] LuckyMD commented on #246
How would you deal with multiple batches which could have different size factors?

[2021-03-29 17:22] mvinyard opened #252 "[Dimensional Reduction] New dataset: Ground-truth labels RNA-seq mouse hematopoiesis"
**What is the dataset?**
Olsson, A., Venkatasubramanian, M., Chaudhri, V. et al. Single-cell analysis of mixed-lineage states leading to a binary cell fate choice. Nature 537, 698–702 (2016). https://doi.org/10.1038/nature19348

**Where is the data located?**
https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE70245

**Which tasks could it be used for?**
Dimensional reduction

[2021-03-29 17:25] const-ae commented on #246
@LuckyMD, interesting point. Well, because the size factor is per cell, I think the method could still be generic and I would actually assume that the alignment of the batches might actually be confounded by size factor as well, but it's absolutely worth checking this assumption on a real dataset.

[2021-03-29 17:28] vals commented on #251
5. Including more published methods/models (e.g. scvi-tools/SCANVI, scArches)

[2021-03-29 17:30] michalk8 opened #253 "[Dimensionality reduction] Add supervised dimensionality reduction task"
**Describe the problem concisely**.
Include references to papers where the task is attempted.
This issue introduces the subtask of supervised dimensionality reduction - some dimensionality reduction methods can
improve the result by including auxiliary information, such as class labels (cell types, etc.).

**Propose datasets**
Include links to at least one publicly available dataset that could be

[2021-03-29 17:38] const-ae commented on #248
I think this is a great idea. Maybe we could then also include [NewWave](https://www.bioconductor.org/packages/devel/bioc/html/NewWave.html), which does something very similar, but in my (not properly benchmarked) experience sometimes converges better :)

[2021-03-29 17:41] michalk8 opened #254 "[Dimensionality reduction] Add trustworthiness score"
**What is the metric?**
Describe it briefly and include a citation if applicable.
Trustworthiness scores measures how well the local structure is preserved in the output (reduced) space.
From the link below:
`"..., any unexpected nearest neighbors in the output space are penalised in proportion to their rank in the input space."""`

**How should it be implemented?**
Include a link to the publicly

[2021-03-29 17:42] stephaniehicks commented on #248
very supportive of this idea @const-ae! 👍

[2021-03-29 17:51] cramirezs opened #255 "[Dimensionality reduction] NCA"
**What is the method?**
Neighborhood Components Analysis (NCA) tries to find a feature space such that a stochastic nearest neighbour algorithm will give the best accuracy. I feel like this is sort of cheating but might be worth checking how it performs.
[Here](https://www.cs.toronto.edu/~hinton/absps/nca.pdf) is where it was proposed.

**Where is the code located?**
https://scikit-learn.org/stabl

[2021-03-29 17:51] const-ae commented on #246
New thought: do something with Fourier transform and somehow weight for larger frequency which indicate confounding by size factor.

[2021-03-29 17:59] hiraksarkar commented on #233
Hi,
I would suggest adding another layer of dimension to the problem is to consider the problem of decomposition of cell-types when there is no reference expression data present. I think reference-free and reference-based could be helpful.

[2021-03-29 18:45] zamoslehi commented on #255
NCA is one supervised method and we need labeled data for using that, where having labels are a hard process in biological data. Maybe, it is better to move on semi-supervised metric learning algorithms

[2021-03-29 18:53] dkobak commented on #246
What's the current thinking on how preprocessing is going to be combined with dimensionality reduction for the DR task? E.g. t-SNE or UMAP can be run on log-transformed CPM data, or on Pearson residuals as in sctransform, or after some other normalization. Are we going to have as separate DR methods?

If all generic DR methods (t-SNE/UMAP/etc) are supposed to use the same preprocessing (e.g. log C

[2021-03-29 18:59] const-ae commented on #246
Excellent point. We discussed this briefly earlier, one thought was that one could make all combinations of preprocessing with the downstream methods. However, it wasn't clear what the organizers thought about this. I think @lazappi wanted to ask the organizers.

In my opinion, this either using the combinations or doing a separate challenge for preprocessing would be the best way forward, as the

[2021-03-29 19:00] dkobak commented on #246
But as for the metric itself, one could use something like this: tile the embedding with e.g. 50x50 square grid. For each of the 2500 squares, if there are at least e.g. 50 cells in it, then compute the average size factor across all cells within this square. Finally, compute the variance across squares. The larger the variance -- the larger the variation of cell sizes across the embedding.

That'

[2021-03-29 19:02] emdann opened #256 "[differential abundance][dataset?] Adding condition label simulation with IWD"
Updating implementation of `differential_abundance.datasets.utils._simulate_treatment` to generate condition labels with IWD approach. Should include:

- Picking minima/maxima with geosketching on PHATE or diffusion map dimensions. Indices get stored in the `anndata.uns`
- Fast interpolation approach
- incorporate parameters to control (A) size of DA region (B) DA effect size

@dburkhardt could yo

[2021-03-29 19:03] dkobak commented on #246
Cool! Me too. We should get in touch :-)

Anyway, my first thought is that this should be a part of its own `Preprocessing` task... By the way, where would GLM-PCA go? It's not `Dimensionality reduction` because it's not used for 2D visualizations, right? So GLM-PCA should be compared to e.g. logCPM+PCA, not to t-SNE.

[2021-03-29 19:03] const-ae commented on #246
That's a cool idea and thanks for the reference. I will take a look :)

I am still hoping that I won't have to use a method with those arbitrary window sizes and was currently looking into something like, sparse Fourier transformation with a low-pass filter and then somehow sum up the coefficients. But yours is probably the more practical approach given the limited amount of time in this hackathon

[2021-03-29 19:05] const-ae commented on #246
I know, I am a big fan of your papers ;) I would be happy to talk :)

[2021-03-29 19:07] const-ae commented on #246
I guess you saw the issue by Stephanie Hicks https://github.com/singlecellopenproblems/SingleCellOpenProblems/issues/248. Right now the idea seems to be to add it as a comparison with t-SNE. But I agree, that isn't really the best comparison.

Maybe we should ask the organizers if we can start a preprocessing challenge?

[2021-03-29 19:09] dkobak commented on #246
Yeah, I am going over the issues now, will comment there in a sec.

[2021-03-29 19:09] zamoslehi opened #257 "VAE- a non linear dimensionality reduction algorithm"
**What is the method?**
VAE: This is a nonlinear dimensionality reduction algorithm based on deep neural network in which the probabilistic model is solved using the variational EM. I strongly recommend it because of its lots of benefits like non-linearity, probabilistic manner and considering uncertainty, ...

**Where is the code located?**
https://github.com/y0ast/VAE-TensorFlow

[2021-03-29 19:13] dkobak commented on #248
Hi Stephanie! GLM-PCA should definitely be part of this, however it's not clear to me at the moment how it should be combined with the `Dimensionality reduction` task. My impression is that for the DR task we are looking to compare "embedding" method, i.e. methods putting the data into 2D for visualization purposes, such as UMAP or t-SNE or ForceAtlas2 or PHATE.

GLM-PCA -- while clearly also "dim

[2021-03-29 19:15] giovp opened #259 "[spatial decomposition] synthetic data generation"
Here to discuss the data generation step, which will be added in `datasets`

https://github.com/giovp/SingleCellOpenProblems/tree/master/openproblems/tasks/spatial_decomposition/datasets

Following previous discussion @vitkl w/ @almaan are we gonna use cell2location strategy for now? if yes, @vitkl could you get the functions of the notebook in a new PR here https://github.com/giovp/SingleCellOpen

[2021-03-29 19:17] giovp opened #260 "[spatial decomposition] reference-free methods"
@hiraksarkar @almaan here we can keep track of discussion on topic title.

[2021-03-29 19:19] dkobak commented on #250
+1 but this should go hand-in-hand with a metric that assesses how well the density is preserved in the embedding. This can be taken directly from the denSNE paper -- Eq (10) in https://www.nature.com/articles/s41587-020-00801-7.

[2021-03-29 19:20] dkobak commented on #249
+1, see https://github.com/singlecellopenproblems/SingleCellOpenProblems/issues/250#issuecomment-809644518

[2021-03-29 19:20] giovp opened #261 "[spatial decomposition] metrics to be used"
@hiraksarkar @almaan @vitkl here to discuss which metrics and the aggregation strategy

[2021-03-29 19:36] zamoslehi opened #262 "Some new metrics for measuring the separability of the clusters in the low embedded space"
**What is the metric?**
Partition Index(SC)
Separation Index(S)
Dunn's Index (DI)

Some of the measures like ACC or NMI, used in most cases, are extrinsic measures and assume the knowledge of the ground truth. We should focus on some intrinsic measures where this knowledge is not exploited. SC, S and DI are some of these measures for calculating the compactness and separability of different cluste

[2021-03-29 19:40] almaan opened #263 "[spatial decomposition] define api_checks"
Discussion of what the checks in the `api.py` file should include.

After discussing how only one anndata object currently can be used as input, and that we therefore will put reference data in the uns attribute

My suggestions so far are:

* def check_dataset(data)
  * that `spatial` exists in `obsm`
  * that `proportions_true` exists in `obsm`
  *  that `sc_reference` exists in `uns`
  *  that

[2021-03-29 19:46] dkobak commented on #262
But this would need to rely on some clustering results, right?

[2021-03-29 19:49] zsteve opened #264 "[Dimensionality reduction] Add ForceAtlas2"
**What is the method?**
Force-directed layout embeddings via ForceAtlas2 algorithm, see:
 - Jacomy, M., Venturini, T., Heymann, S. and Bastian, M., 2014. ForceAtlas2, a continuous graph layout algorithm for handy network visualization designed for the Gephi software. PloS one, 9(6), p.e98679.

**Where is the code located?**
A Python wrapper of the method is here: https://pegasus.readthedocs.io/en/

[2021-03-29 19:54] zamoslehi commented on #262
Yes, these metrics compute some measures based on how two cluster are close to each other or far from each other and how much is the diameter of a cluster.

[2021-03-29 19:59] andrew-benz opened #266 "[Dimensionality reduction] method: ForceAtlas2"
**What is the method?**
ForceAtlas2 is a force-directed graph layout algorithm. Although it was originally designed for visualizing networks, ForceAtlas2 and other force-directed layout algorithms have become popular for visualizing single-cell datasets.  [This paper by Jacomy et. al.](https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0098679) describes the algorithm in more depth.

[2021-03-29 19:59] emdann opened #267 "[differential abundance][dataset] Assemble input anndata storing multiple simulated labels"
Write data loader function to:

1. Take anndata object as input
2. Run `_simulate_treatment` multiple times varying parameters
3. Store simulated condition labels as columns in `obs` with  `*_seed` identifier. Following API description, for each seed the anndata should store:
    - `adata.obs["condition_seed"]: array-like, shape=(n_obs,)` indicates the condition for each cell. E.g. condition4

[2021-03-29 20:03] dkobak commented on #262
But is it something we want? I thought ideally we would assess dim. red. outcome without relying on a specific clustering, otherwise the question becomes what clustering to use...

[2021-03-29 20:05] dkobak commented on #264
https://github.com/singlecellopenproblems/SingleCellOpenProblems/issues/266

[2021-03-29 20:05] dkobak commented on #266
https://github.com/singlecellopenproblems/SingleCellOpenProblems/issues/264

[2021-03-29 20:11] dkobak opened #268 "[Dimensionality reduction] Correlation between high- and low-dimensional distances as a metric"
**What is the metric?**
Correlation between high-dimensional and low-dimensional pairwise distances. Can be efficiently approximated if we sample e.g. 1000 random points and compute all pairwise distances between those. I prefer rank correlation (Spearman) here instead of Pearson. This is supposed to quantify "global" structure.

Suggested here: https://www.nature.com/articles/nbt.4314
Also used h

[2021-03-29 20:14] emdann opened #269 "[differential abundance][metrics] Metrics for DA region recovery"
**What is the metric?**
Measure ability to detect cells in DA regions, based on predefined ground truth probability threshold. Possible metrics:
- True Positive Rate
- False Positive Rate

**Which task(s) could it be used for?**
Differential abundance https://github.com/singlecellopenproblems/SingleCellOpenProblems/issues/140

[2021-03-29 20:17] dkobak commented on #255
Hmm. Has anybody ever used NCA for single-cell data? Not that I know. As a general principle, I don't think we should be adding methods that are not in actual use in the community... Or what do people think? Otherwise we can have hundreds of methods easily.

[2021-03-29 20:17] michalk8 opened #270 "[Dimensionality reduction] Add Ivis"
**What is the method?**
Describe it briefly and include a citation.
A DL-based approach (siamese networks) for dimensionality reduction https://www.nature.com/articles/s41598-019-45301-0
that preserver global structure better than t-SNE.

**Where is the code located?**
Include a link to the publicly available codebase.
https://github.com/beringresearch/ivis

**Which task(s) could it be used for?**

[2021-03-29 20:19] emdann opened #271 "[differential abundance][method] Add miloR"
**What is the method?**
Milo: differential abundance testing on KNN graphs https://www.biorxiv.org/content/10.1101/2020.11.23.393769v1

**Where is the code located?**
https://github.com/MarioniLab/miloR

**Which task(s) could it be used for?**
Differential abundance

[2021-03-29 20:21] emdann opened #272 "[differential abundance][method] Add DAseq"
**What is the method?**
DAseq https://www.biorxiv.org/content/10.1101/711929v3

**Where is the code located?**
https://github.com/KlugerLab/DAseq

[2021-03-29 20:22] dkobak commented on #254
+1. But this relies on computing neighbor ranks for all pairs of points in the original space, right? A simpler (and faster?) variant would be to compute the fraction of preserved nearest neighbors, i.e. find k nearest neighbors in the high- and low-dimensional spaces, take the intersection size, average across all points. For large sample sizes this can be efficiently approximated by taking a ran

[2021-03-29 20:24] zsteve commented on #264
#266 refers to a cleaner Python offering of ForceAtlas2.

[2021-03-29 20:24] #264 closed

[2021-03-29 20:30] zsteve opened #273 "[Dimensionality reduction] Add LargeVis"
**What is the method?**
LargeVis is a dimensionality reduction method for high-dim data. See citation:
- Tang, J., Liu, J., Zhang, M. and Mei, Q., 2016, April. Visualizing large-scale and high-dimensional data. In Proceedings of the 25th international conference on world wide web (pp. 287-297).

**Where is the code located?**
https://github.com/elbamos/largeVis

**Which task(s) could it be used fo

[2021-03-29 20:31] emdann opened #274 "[differential abundance][method] differential testing on Louvain clusters"
**What is the method?**
Testing with Poisson GLM for differences between conditions in discrete clusters, as [Haber et al. 2017](https://www.nature.com/articles/nature24489#Sec9)

**Where is the code located?**
Example R implementation https://github.com/MarioniLab/milo_analysis_2020/blob/fdf6a2c51e98c4a50e289f42e694f0f1f51cb153/benchmark/benchmark_utils.R#L352-L404

[2021-03-29 20:37] vals commented on #251
Board with plans and tasks here: https://github.com/orgs/singlecellopenproblems/projects/8

[2021-03-29 20:42] dkobak commented on #273
I am not sure about this one actually... I think LargeVis is 100% superseded by UMAP, or to put it differently, UMAP and LargeVis are basically the same method :-) The loss function is identical, the negative sampling procedure is identical. UMAP and LargeVis is the same thing. Only differ in default initialization and some insignificant details.

[2021-03-29 20:46] dkobak opened #275 "[Dimensionality reduction] Switch t-SNE to openTSNE"
t-SNE is already implemented in the dimensionality reduction task, but through Scanpy. Scanpy's implementation is slow and has suboptimal parameters. I would strongly suggest to use openTSNE with default parameters. We are in the process of switching Scanpy to openTSNE, but it will take some time still: https://github.com/theislab/scanpy/issues/1233.

See https://github.com/pavlin-policar/openTSNE

[2021-03-29 21:10] zsteve commented on #273
Fair enough! I'll close this then.

[2021-03-29 21:10] #273 closed

[2021-03-29 21:29] LuckyMD commented on #266
Is this different from `scanpy.tl.draw_graph`? I believe there's an `fa2` version for that. Although I think there might be faster libs out there. But this would be easy to implement.

[2021-03-29 21:31] LuckyMD commented on #255
I think part of the idea behind openproblems is that it will open up single-cell data to the greater ML community. If we don't add it, others probably will. You could ofc still focus your efforts on more widely used methods, but i wouldn't preclude a method.

[2021-03-29 21:33] LuckyMD commented on #268
Why not both spearman and pearson as two metrics? I would assume pearson might be more sensitive and hence discerning?

But then what I always struggle with is that the whole point of dimensionality reduction is that distances in high dimensions are similar and not that informative... so why use them as a ground truth?

[2021-03-29 21:51] stephaniehicks commented on #248
hi @dkobak. I'm unsure what is meant here then. Why is this task called "dimensionality reduction" when what you are describing is methods for "2D data visualization / embedding"?

PCA has always been considered form of "dimensionality reduction" (e.g. https://en.wikipedia.org/wiki/Dimensionality_reduction).

Should this task be re-titled?

[2021-03-29 21:52] LuckyMD commented on #262
You could concieve a metric that performs the same clustering for all dim red outputs. But then you might just evaluate which dim red method best works with the parameterization of the clustering method (unless you do some parameter sweep... i have a function for this if you want it).

[2021-03-29 21:57] LuckyMD commented on #259
Would you also have a non-simulated dataset to load? I imagine this is difficult for the cell counting, but maybe you have some idea of ground truth in cell type proportion calling for visium spots? You could even use simple metrics that just assess whether spots on the border between two cell type regions are judged to contain a mixture of these cell types?

[2021-03-29 22:04] LuckyMD commented on #246
Hey! On the topic of preprocessing challenges, please suggest one! We initially stayed away from this as it's quite difficult to evaluate in the absence of downstream analysis. There's a [large benchmark](https://www.sciencedirect.com/science/article/abs/pii/S2405471219300808) on this direction from the Yosef lab. I also spent some time at a previous CZI jamboree ([NormJam](https://github.com/norm

[2021-03-29 22:05] LuckyMD commented on #246
That might work, but then batches might differ in cell type composition... and then you are in a bit of a limbo. I would maybe compute this score per batch and average across the per-batch scores?

[2021-03-29 22:09] LuckyMD commented on #257
Would this be for dimensionality reduction? It might be nice to have a vanilla VAE in here to compare to scVI and other methods.

[2021-03-29 22:11] LuckyMD commented on #233
While I agree that methods may be very similar. I would spin this out to a different task entirely. From a user perspective the situation will be quite different. And there are many bulk deconvolution methods not designed for spatial data (although that doesn't mean they can't be used there i guess).

[2021-03-29 22:18] katosh opened #276 "[Regulatory Effect Prediction][Metric] Subsampling Stability"
**What is the metric?**
We subsample expression or atac signals before imputation and compare multiple results to assess stability.

**How should it be implemented?**
Parameters `quantile` and `quantile_cells=1` to dictate which quantile of read should be sampled and how many cells should be affected.

**Which task(s) could it be used for?**
Imputation and potentially any other method that can be

[2021-03-29 22:20] dkobak commented on #248
Well, I am not sure how this is supposed to work either... We've just been discussing at Discord that we may want to have two separate tasks: "dimensionality reduction as preprocessing" (for things like GLM-PCA vs logCPM+PCA vs scVI autoencoder etc.) and "dimensionality reduction for visualization" (for things like t-SNE vs UMAP vs ForceAtlas2 etc.).

[2021-03-29 22:20] LuckyMD commented on #248
I think maybe it just needs 2 subtasks... visualization and summarization/featurization/preprocessing. The difficulty with the latter is evaluating the embedding.

[2021-03-29 22:26] dkobak commented on #268
Why not both -- well, personally I find having two very similar metrics rather confusing than helpful. The same for two very similar methods. Also, then there is no stopping: if we add Spearman and Pearson, then why not add Kendall as well? Etc.

I think it's a misconception. When we do PCA, we use high-dim distances, and it works just fine. When we use t-SNE, we use kNN graph, constructed using h

[2021-03-29 22:29] dkobak commented on #248
I actually think the metrics will need to be quite different... Should we maybe start a separate issue to discuss splitting this task into two subtasks? I think we need to think it through. For example, every embedding method would need to use some "dim-red-for-preprocessing" first, e.g. GLM-PCA followed by t-SNE. Should we be running all dim-red-for-visualization using one particular choice of di

[2021-03-29 22:32] LuckyMD commented on #276
Would this be a new task? Or is it related to a particular method output that is already produced in a task?

[2021-03-29 22:34] LuckyMD commented on #248
I see your point, however in the simplest implementation you can evaluate a dim red to 2 dimensions in the same way as you might a dim red to 50... especially if you're using metrics about relative distance or neighbourhood preservation.

[2021-03-29 22:41] dkobak commented on #248
The problem is that when comparing logCPM+PCA with, say, GLM-PCA, one cannot really use metrics like these because these methods modify the high-dimensional distances. "Neighborhood" has different meanings for PCA on raw counts or PCA on logCPM, that's the whole point of doing depth normalization or log-transform. The same for "distances".

Whereas when comparing t-SNE with UMAP, that's not a prob

[2021-03-29 22:43] adamgayoso commented on #257
We are refactoring [scGen](https://github.com/theislab/scgen/) to use scvi-tools as the[backend](https://github.com/theislab/scgen/pull/41). This would be a standard Gaussian VAE we could use as well (just ignore the perturbation/latent space arithmetic aspect)

[2021-03-29 22:46] LuckyMD commented on #268
Might be my naivety here... but I've never looked at PCA as using high dim distances. Where do we use high dim distances for PCA?

And then wouldn't you build a kNN graph for t-SNE from euclidean distances on PCA?

[2021-03-29 22:46] dkobak commented on #266
It's the same:

[2021-03-29 22:47] katosh commented on #276
We decided to do metrics first and use dummy tasks to test them. I am just starting to get to know the framework. Initially, I assumed the metric would get the input data and apply a task to it. But looking at the api it seems the metric only receives the result of a specific task. Is that right?

[2021-03-29 22:47] LuckyMD commented on #257
Is this separate to the scgen refactoring for scArches or the same?

[2021-03-29 22:53] LuckyMD commented on #248
I see... any normalization will distort the concept of "neighborhood" from high dimensions as it compares a space with count depth effects to one without.

To maybe simplify this discussion again, maybe it would help to bring it back to the user perspective... and that brings it back to 2 separate subtasks. One where the user is looking for a method to generate a low dimensional space for further

[2021-03-29 22:56] dkobak commented on #268
Okay, you are right, that was a sloppy formulation, but I do think it's true that PCA typically will preserve large distances, see e.g. illustration here https://stats.stackexchange.com/a/176801/28666. That's not a formal argument though.

Yes, but mostly to accelerate kNN graph construction (and maybe also to "denoise" the data a bit). But the t-SNE usually works just fine and looks very similar

[2021-03-29 22:58] LuckyMD commented on #276
Yes. A metric is only meaningful within the confines of a task in open problems. The particular metric you're suggesting here actually looks like a combination of a data loader (subsampled data), and a metric (imputation stability). This would probably only be meaningful for a task that alters the expression (or other omic) data directly, but not something like label projection. So maybe this coul

[2021-03-29 23:00] katosh commented on #276
I am happy to move the task to the appropriate topic. It came up as a metric for imputation (3. in https://docs.google.com/document/d/1mbbfAAQJBKNrmskwxy2p3TN6zJ-hVA_euWqKnk0LwEU/edit#heading=h.5uzp1ncjrw70).

[2021-03-29 23:03] katosh commented on #276
To be more specific, I imagine this to be a bootstrap. We would do `n` different subsamples and apply the same method on the individual subsamples. Then we calculate the variance of the result to determine the stability of the applied method. I believe this can be a good consistency check for many methods but I aim to implement it specifically for imputation.

[2021-03-29 23:04] LuckyMD commented on #268
This argument is that PCA preserves the largest distances, but that's quite distinct from saying PCA preserves distances in high dimensions, no? In the end PC-reduced data should have more discernable distances than high dimensional data... which is also why we use this (or so my interpretation).

You clearly know more about t-SNE initialization... but I had interpreted your recent blog post about

[2021-03-29 23:09] LuckyMD commented on #276
Okay, this makes a lot more sense now. The multiple subsampling aspect is actually not that straightforward to implement in open problems. At the moment we require a strict separation of dataset, method, and metric. So if you have an imputation method, then you would need 1 version of the data, each method to work on this data input, and then all metrics to evaluate each method's output on this ve

[2021-03-29 23:10] adamgayoso commented on #257
Different, this will be the main implementation, though I don't see why it wouldn't also be used in the scArches package.

[2021-03-29 23:13] katosh commented on #276
Could I make the metric specific for a type of task that returns multiple results? Then I could leave the subsampling to a specialized meta task that applies a given method on the subsamples and bundles the results.

[2021-03-29 23:14] katosh commented on #276
I am also in the Regulatory effect prediction voice chat channel if you like to talk about it.

[2021-03-30 04:20] almaan commented on #259
To the best of my knowledge there's no annotated Visium data sets out there, i.e., where someone has looked at each and every spot (or a subset of them) to then assign a label to them. I'm also not fully sure how feasible that is to get for most of the capture-based spatial methods, the HE-images are not optimal for cell type identification and other methods do not even provide a paired image.

 P

[2021-03-30 04:26] almaan commented on #259
Another question is whether we want to include more synthetic data generation strategies than just one. The one I used in the 'stereoscope' paper is extremely simple and easy to implement (basically just taking single cell data and mixing them together in various proportions). One could also envision that we include the methods proposed in RCTD, SPOTLight, etc.

Ofc, we could start with one strate

[2021-03-30 04:48] almaan commented on #261
I think that the two metrics that @vitkl suggested are nice to include:

* R^2
* Precision-Recall curves

We also discussed including JSD (Jensen Shannon Divergence) which treats the cell type proportions more as a distribution across the different spots, it's also preferable to the KLD since it's lower and upper bounded with zero respectively one (when using base 2 in the logarithm) which is not

[2021-03-30 07:29] emdann commented on #276
Hi @katosh. To provide multiple subsamples to one method you could implement the subsampling algorithm with the data loader and store list of indices of each sample in `adata.uns`, together with a seed/ID. Then the method can do the filtering of cells to use internally.

[2021-03-30 07:45] dkobak commented on #268
Morning, Malte! Do these two figures help?

![tsne](https://user-images.githubusercontent.com/8970231/112952289-9cd1ea00-913c-11eb-996a-4571f7ec524a.png)

![dist](https://user-images.githubusercontent.com/8970231/112952318-a52a2500-913c-11eb-99d5-79da97e90858.png)

[2021-03-30 07:47] lazappi opened #278 "General dimensionality reduction task"
**Describe the problem concisely**.

The current dimensionality reduction task is defined as "dimensionality reduction for visualisation" (i.e. the API defines a two-dimensional output). Should there also be a more general dimensionality reduction task/subtask to cover methods that produce a higher-dimensional embedding that is used for further analysis?

**Propose datasets**

This should be fairl

[2021-03-30 08:01] lazappi opened #279 "Input features for dimensionality reduction"
We briefly touched on this already but thought we should discuss the options in more detail and decide what is the best fit for the project.

The general question is how to handle pre-processing steps for the dimensionality reduction task (and maybe all tasks in general). For example, the current UMAP implementation is run on the expression matrix directly but the more standard workflow is to norm

[2021-03-30 08:08] dkobak commented on #248
Not sure I understood this question...

I think in the "DR for viz" task all methods are supposed to get the same preprocessed data matrix reduced e.g. to 50 dimensions (for example, it can be counts after logCPM+PCA), and output an embedding with 2 dimensions. We can use metrics such as kNN preservation or pairwise distance correlation to assess the performance.

For the "DR for preprocessing" ta

[2021-03-30 08:11] lazappi commented on #248
I think these are important things to consider. I've opened up #278 about a general dimensionality reduction task and #279 about how to handle different input features/pre-processing. I didn't realise how much had been discussed already but maybe someone can summarise in those issues and move the discussion there. I think that will be easier to keep track of going forward.

[2021-03-30 08:31] dkobak commented on #278
Yes, I think there should be two different tasks. One task is about comparing t-SNE with UMAP with PHATE etc. Another task is comparing PCA on logCPM to GLM-PCA to scVI etc. I would call them "dimensionality reduction for visualization" and "dimensionality reduction as preprocessing".

We can decide to only have 1 of these tasks, but at the very least we should clarify (rename) the existing task t

[2021-03-30 08:36] dkobak commented on #279
I am quite strongly in favour of option (1): "Define a standard pre-processing for all methods". We can use the standard scanpy pipeline: select 1000 HVG based on `seurat_v3`; sequencing depth normalization to median depth; log1p transform; PCA down to 50 dimensions.

I don't think we should use the best possible pipeline! (Opinions differ about what's the best.) Rather, we should use the most sta

[2021-03-30 08:56] cramirezs commented on #278
This was discussed in Discord and I am in favour of "visualisation" and "summarisation" as tasks (maybe subtasks if the metrics can be easily overlapped). Preprocessing might be inconvenient because we're now talking about preprocessing the input.

[2021-03-30 09:02] cramirezs commented on #262
If you have "ground truth" labels this metric should make sense for DR too! So I would vote to keep them. I remember it was mentioned that "the more metrics the better" (of course not just for the sake of having them).

[2021-03-30 09:16] cramirezs commented on #279
I think the easiest course of action is (1) a "standard" preprocessing for now. So, I am with Dmitry here. However, I have the feeling this could change to (3) eventually because that standard changes from lab to lab. For example, the Krishnaswamy lab uses sqrt rather than log1p... And, as already mentioned, the preprocessing does affect the method's performance.

If we go for (1), I am not sure h

[2021-03-30 09:29] dkobak commented on #279
Did you mean "(3)" here?

Preprocessing certainly does not affect the result, but should arguably not be important for comparing methods that reduce 50-dim data to 2-dim. What is important is that all methods (tSNE/UMAP/etc) get the exact same input. Whether this input was obtained with sqrt or with log1p is not that important, IMHO. I'd be equally fine with sqrt.

[2021-03-30 09:54] cramirezs commented on #279
Yes, I meant (3). Sorry.

I do think that the same input is a priority. I just think it would be fair to evaluate the effect of said input, so (3) will be an endpoint when benchmarking.

I agree log1p vs sqrt is not that important, but I thought it would be worth mentioning. Maybe take the faster? Either way, I am okay with it.

I will stick to:

[2021-03-30 09:54] cramirezs commented on #279
Yes, I meant (3). Sorry.

I do think that the same input is a priority. I just think it would be fair to evaluate the effect of said input, so (3) will be an endpoint when benchmarking.

I agree log1p vs sqrt is not that important, but I thought it would be worth mentioning. Maybe take the faster? Either way, I am okay with it.

I will stick to:

[2021-03-30 11:41] lazappi commented on #279
Thanks for the comments! I probably agree that (1) is the most feasible with the current setup. The effect of pre-processing is still interesting but maybe better covered by a general dimensionality reduction task.

In terms of implementation I think that pre-processing can probably be built into the data loaders for this task (core members correct me if I'm wrong). Either we have a standard few l

[2021-03-30 11:48] lazappi opened #280 "Modify the dimensionality reduction (2D) API to require labels"
There are potentially some metrics which could make use of known cell type groups (see #246, #262 for some examples and discussion). Should we modify the task API to require datasets to have cell type labels? This would restrict which datasets can be used but potentially enable a broader range of metrics.

(Note: This is **NOT** for methods that use labels as an input, that would be a separate sub

[2021-03-30 11:51] lazappi commented on #262
Opened #280 to discuss the issue of requiring cell type labels more generally rather than just for this metric

[2021-03-30 11:54] gjhuizing opened #281 "[Task proposal] Multi-omics manifold mapping"
**Describe the problem concisely**.
The current multimodal integration task focuses on alignment of different datasets, profiled from different cells. It is tested by separating data coming from the same cell and evaluating whether the alignment corresponds to the true cell matches.

However some new methods perform integration in a different way. They take into account both modalities and map the

[2021-03-30 11:56] lazappi commented on #278
I think sub-tasks are just implemented as another task in terms of the code so could just copy any metrics that are relevant and skip the pre-processing for the "summarisation" task.

[2021-03-30 13:10] stephaniehicks commented on #278
Separating out the tasks makes sense to me.

[2021-03-30 13:19] stephaniehicks commented on #279
I agree that option 1 is by far the easiest/most consistent and provides the most standardized approach. However, for me personally, I'm not sure how useful these results would be or how much I'd trust them, when it has been previously shown (e.g. https://www.nature.com/articles/s41592-019-0425-8) that the upstream steps (e.g. choice of imputation or not, normalization, feature selection, "dimensi

[2021-03-30 13:21] vitkl commented on #233
@LuckyMD  Many bulk deconvolution methods are not scalable, and also most (except Bisque) do not account for technology platform difference. I agree that it is probably better to put that as a separate task and ideally get input from people actually working with this.

@hiraksarkar To me, there are 3 settings:
1. Fully reference-based. This is considered by this task and performed by all methods c

[2021-03-30 13:28] lazappi commented on #279
Thanks @stephaniehicks! Sounds like we should continue the discussion for now.

Assuming we take the default scanpy workflow as the first pre-processing option do you (or anyone else) have any others to suggest? I guess the main criteria would be things that are fairly commonly used if we are only going to have a few.

[2021-03-30 13:32] stephaniehicks commented on #279
Oh there are lots of ways we could try to decide this. For example, we could look at previous pubs that have done similar benchmarks and just take the ones that performed the best based on their results. This is also likely to depend on the choice of data being used in our evaluations here (e.g. full-length protocols vs UMI-based protocols have been shown to need different preprocessing steps).

[2021-03-30 13:44] vitkl commented on #261
I think it is important for metrics to be easily interpretable by the users.

PR macro-average across cell types represents the accuracy/sensitivity at detecting cell abundance > 0, with PR curves averaged across cell types. It is not great for cell types that are expected to be absent in all locations because the PR curve cannot be computed.

R^2 - represents the accuracy of determining cell prop

[2021-03-30 13:46] hiraksarkar commented on #233
Hi @vitkl ,

Great point about the case of mixed semi-supervised information. I have not thought about that case yet, and to my knowledge, I have not seen this in publication. For 2, it's kind of what I am researching right now, not sure if I would be able to give a solution during the time of the hackathon, but I hope we can chat more after the event and I would love to update you guys on my prog

[2021-03-30 14:17] dkobak commented on #279
I see your point, but we could also approach it by having some dim-reduction-for-viz-related metrics in the "dim red as preprocessing" task. E.g. some metrics could quantify ground-truth class separation after t-SNE/UMAP/whatever.

Yes, absolutely. I guess we'd need to focus on UMI data only for the prepocessing task...

[2021-03-30 14:21] almaan commented on #261
Fully agree,

Bhattacharyya coefficient - measures the amount of overlap or similarity between two distributions, by integration or summation over the probability space. Here the distributions we are looking at would either be how a cell type is distributed across all spots (comparing true vs predicted), or how the cell types are distributed within each spot, then computing the average of these co

[2021-03-30 14:29] michalk8 opened #284 "[Dimensionality reduction] Add NeuralEE"
**What is the method?**
Describe it briefly and include a citation.
Elastic embedding dim. red. for single cell. Elastic embedding optimizes a function in the low. dim space based on attractive/repulsive weights between points.
NeuralEE: https://pubmed.ncbi.nlm.nih.gov/33193561/
Paper introducing EE: http://www.cs.toronto.edu/~hinton/csc2535/readings/miguel.pdf

**Where is the code located?**
Incl

[2021-03-30 14:32] lazappi opened #285 "Non-unique var names in tenx_5k_pbmc dataset"
- [ ] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the master branch of openproblems.

---

The `tenx_5k_pbmc` data loader gives the following message after loading:

[code]

Probably not a major issue but maybe worth adding to the main loader to avoid potential issues further down.

### Minimal code sample (that we can copy&paste without

[2021-03-30 14:45] giovp opened #286 "[spatial decomposition][new methods] methods for spatial decomposition"
@almaan @hiraksarkar @vitkl

methods to be added:
- [x] stereoscope [code (scvi implementation)](https://docs.scvi-tools.org/en/stable/api/reference/scvi.external.RNAStereoscope.html#scvi.external.RNAStereoscope)
- [x] cell2location [code](https://cell2location.readthedocs.io/en/latest/)
- [ ] spotlight [code](https://github.com/MarcElosua/SPOTlight)
- [ ] cellassign [code (scvi implementation)](h

[2021-03-30 14:51] LuckyMD commented on #281
this is exactly my thought as well ;). Good start for sure with cell lines though!

[2021-03-30 14:58] gjhuizing commented on #281
definitely, sending you a message on discord

[2021-03-30 15:06] hiraksarkar commented on #286
- [ ] vanilla nmf
- [ ] nmfreg [code](https://github.com/tudaga/NMFreg_tutorial/blob/master/NMFreg_Tutorial_cerebellum_puck180430_6.ipynb)
- [ ] RTCD [code](https://github.com/dmcable/RCTD)

[2021-03-30 15:55] #218 closed

[2021-03-30 15:56] zsteve commented on #284
Hi @michalk8, are you actively working on this at the moment? If not I can take a look.

[2021-03-30 15:59] adamgayoso opened #287 "Test mode for functions"
It would be great to see methods having a parameter called `test_mode` that can enable a much faster method call during testing.

A solution is to perhaps inspect the signature of the method here:

https://github.com/singlecellopenproblems/SingleCellOpenProblems/blob/9361a510215adddd2d2410cce0df7e27e033d966/test/test_methods.py#L35

And if it has the `test_mode` parameter, pass `test_mode=True`.

[2021-03-30 16:20] zsteve commented on #275
For the time being, should openTSNE be a separate method? It might be helpful because I think a lot of people might just use the scanpy implementation params.

[2021-03-30 16:22] dkobak commented on #275
I don't know if it's interest here to benchmark different implementation of the same method, including implementations that are known to be suboptimal... Personally, I don't think so. So I'd vote to replace Scanpy.TSNE with openTSNE. But I guess it's up for discussion.

[2021-03-30 16:29] lazappi commented on #275
In terms of managing PRs/merging across different people it might be cleaner to add new files now and delete the existing scanpy implementation later. Probably doesn't make a lot of difference though so whatever you decide.

[2021-03-30 17:08] katosh commented on #276
Thanks @emdann for the input. I talked with @LuckyMD and some interesting ideas came up how bootstrapping may be integrated into the open problems backend in the future. For now, we will focus on single dataset evaluations of any imputation methods. A metric will compare the imputed results with some ground truth. This will be part of another task.

@LuckyMD You mentioned the denoising task. Howev

[2021-03-30 17:11] lazappi opened #291 "Local radius density score for dimensionality reduction"
**What is the metric?**

The densMAP/denSNE paper includes a score for density preservation based on the local radius in the nearest neighbour graph before/after embedding https://www.nature.com/articles/s41587-020-00801-7. It would be great to have other density metrics as well (because this will be biased towards these methods) but this is a good place to start.

**How should it be implemented?*

[2021-03-30 17:17] bendemeo commented on #278
I favor "visualization" and "featurization", but am not overly picky. Definitely a good idea to benchmark PCA with more dimensions, ICA, autoencoders, etc. as these methods are ubiquitous.

[2021-03-30 17:31] michalk8 opened #292 "[Dimensionality reduction] Add scvis"
**What is the method?**
Describe it briefly and include a citation.
Essentially a VAE, possibly related to https://github.com/singlecellopenproblems/SingleCellOpenProblems/issues/257
Paper: https://www.nature.com/articles/s41467-018-04368-5.pdf

**Where is the code located?**
Include a link to the publicly available codebase.
https://bitbucket.org/jerry00/scvis-dev/src/master/

**Which task(s) cou

[2021-03-30 19:45] giovp opened #295 "Handling methods hyper parameters"
following disc on discord @dburkhardt : currently openproblems doesn't support setting hyper params for methods. This could still be achieved by hard-coding hyperparam sets as different instances of the same method, but is not very nice (and maybe not allowed?).
Here we can discuss how to move forward.

[2021-03-30 22:00] LuckyMD commented on #259
I would consider bulk deconvolution a separate task i think. Even if the methods would overlap. If a user goes to the platform and wants to find out which bulk deconvolution method looks good based on various metrics, then they may not initially look for "spatial decomposition".

I'm also a bit surprised that there is no annotated visium dataset publicly available yet. I would have assumed that a

[2021-03-30 22:07] LuckyMD commented on #278
You could also include a umap with higher dimensions. I have heard this is meant to be a good summarization method as well... but never seen it actually used.

[2021-03-30 22:08] LuckyMD commented on #278
A general question: Do you need to set a fixed number of latent dimensions to compare the methods fairly? Or would you use some kind of variance explained by component approach to have a consistent comparison.

[2021-03-30 22:11] LuckyMD commented on #276
I would probably make this a separate task... maybe as a subtask of regulatory effect prediction in the end then.

[2021-03-30 22:13] katosh commented on #276
Is there something special for the implementation of a **sub**task or can I just follow the tutorial on implementing a new task?

[2021-03-30 22:39] dkobak commented on #278
@LuckyMD I think the most important part of this task would be normalization/transformation/etc, like e.g. log1p on CPM. Of course there are methods like GLM-PCA that take raw counts and output something that is already normalized/transformed/reduced, all in one go. But for something like UMAP down to 50 dims, we should be thinking of the entire pipeline CPM+log1p+UMAP, and the first part (CPM+log

[2021-03-30 22:57] LuckyMD commented on #279
Just to chime in quickly... in other tasks we have taken a 3a approach as @stephaniehicks suggests (see for example label propagation). There are a few versions of each method with differing normalization approaches in there. We're also doing HVG vs full features and scaling vs non-scaled in the batch integration task (still in PR). This isn't too hard if you restrict to a few options that you reg

[2021-03-30 23:25] LuckyMD commented on #240
Hi @AlexWeinreb,

Thanks for proposing this task. Just to clarify... you're proposing a task to assess whether a protein is expressed in a particular dataset dependent on gene expression data. Would this be similar to the "regulatory effect prediction" task but for RNA -> protein instead of ATAC -> RNA? That would be inferring protein abundance from scRNA-seq data.

Or are you viewing this as a de

[2021-03-30 23:39] LuckyMD commented on #285
Fixed in efab58

[2021-03-30 23:39] #285 closed

[2021-03-30 23:42] LuckyMD commented on #268
This definitely helps... but i was thinking about 10k gene expression space with less well-defined clustering. You still think that PC-initialization doesn't change much there?

[2021-03-30 23:44] LuckyMD commented on #295
I'm not the biggest fan of hyperparameter optimization in a method... it would make this method very slow and potentially not user-friendly anymore (except maybe for super simple methods). I would potentially go with best defaults, or code up 2-4 versions. Imho a hyperparameter setting can be treated in the same way as a preprocessing setup. We wouldn't want too many of them, but it wouldn't hurt

[2021-03-30 23:50] LuckyMD commented on #276
new task is fine... if you like, you could create an extra wrapper folder with a preceding `_` to signify a parent task name... but that can always be done later.

[2021-03-30 23:52] katosh commented on #276
Alright, I am already on it :)

[2021-03-30 23:56] LuckyMD commented on #278
Agreed, it's a combination of normalization, transformation, (HVG selection?) and dimensionality reduction for the summarization task. I was merely suggesting a further dim red method to add to the mix of combinations (because I'd be curious ;) ).

If you fix this, you'd hopefully take it out of the equation... or test multiple and then it's also accounted for.

This works for me... but I do think

[2021-03-31 00:01] LuckyMD commented on #253
This is a great idea! I wasn't actually aware of supervised dim red tasks... it sounds like a very specialized use case... but interesting nonetheless. Would this task involve dim red to 2 dimensions (visualization) or to more (summarization)? Whichever you choose, i would borrow some metrics from that task to have some consistency. For metrics to evaluate e.g., clustering in this space, you could

[2021-03-31 01:00] #276 closed

[2021-03-31 07:58] dkobak commented on #278
Sure, one can compute it like that, but if the representation is highly nonlinear, then one can get a low R^2 number even if the information is all there.

[2021-03-31 09:25] giovp commented on #259
We have 2 visium annotated in squidpy (same tissue, but hne and fluorescence). Can be called with

[code]

if by annotated you mean proportions, then yes that's a whole other problem.

@vitkl for now we have a baseline data generation step from @almaan but would be nice to add the GP based tissue-region generation, so whenever you have time would be happy to take a look at the code. I think that t

[2021-03-31 09:27] giovp commented on #233
totally agree, I think for now is a bit hacky (as we would have to hard code several instances of the same dataset with diff feature selection step) but very good to keep it mind when subtasks will be a thing!

[2021-03-31 09:52] lazappi commented on #295
The other argument against including multiple parameterizations is how people use methods in practice. Unless it's clearly explained how/why something needs to be optimised and there are functions to help do it most users will just stick with the defaults.

[2021-03-31 11:03] LuckyMD commented on #268
Yes, sorry... i'm confusing initialization with dim red for kNN graph computation. The latter is what we're discussing. I will take a look at this when I have a bit more bandwidth after the jamboree :). Thanks for the code!

[2021-03-31 11:08] almaan commented on #286
To add some more:

- [x] RCTD (is now added as a method)
- [ ] Tangram [code](https://github.com/broadinstitute/Tangram)
- [ ]  Enrichment of marker genes, as per [LINK](https://www.nature.com/articles/s41587-019-0392-8?proof=t); haven't found good code so this is up for discussion
- [ ] DWLS, for bulk data, but could be used for spatial data as well. `stereoscope` benchmarked against this. [code]

[2021-03-31 11:15] LuckyMD commented on #278
yeah, maybe we'd need some form of mutual information here... between sets of variables (does this exist?). This might get a bit too complicated for a task specification anyway though.

[2021-03-31 11:18] LuckyMD commented on #259
I initially meant spots... but that would only be useful if you use a metric along the lines of: spots that are called as having shared cell types (50-50?) should have neighbors that have higher purity of these cell types.

[2021-03-31 11:20] LuckyMD commented on #233
To me this is not a subtask but a completely separate task that was proposed already in #110

[2021-03-31 11:23] giovp commented on #233
mmh I disagree, as in the feature selection here is to maximize the deconvolution results, and not finding some ground truth or separation in manifold (e.g. more easy to cluster cells).
this is very relevant both for array-based methods as well as image-based, where you have fewer features.

[2021-03-31 11:42] atong01 opened #299 "Rename "Multi-modal integration" task to "Multi-modal cell alignment""
This would clear the way for other types of multi-modal integration, for instance in the case where we assume we multiple modalities in matched cells.

[2021-03-31 12:07] michalk8 opened #300 "[Dimensionality reduction] Add metrics based on NN co-ranking"
**What is the metric?**
Describe it briefly and include a citation if applicable.
There are many metrics described here: https://core.ac.uk/download/pdf/148668147.pdf

**How should it be implemented?**
Include a link to the publicly available codebase if available.
https://www.sciencedirect.com/science/article/pii/S2405844021003042
contains the code. Scaling will also be an issue (for more than 3k

[2021-03-31 12:51] drighelli commented on #299
I'm not sure this is the right way, multimodal is referred to technologies extracting multiple modalities from the same cell.

I think that other cases are referred as single cell/bulk multi-omics.

[2021-03-31 12:51] emdann commented on #256
A good addition to this would be to add some noise to single replicates, to model variability between samples. @dburkhardt wdyt?

[2021-03-31 14:41] qinqian opened #303 "Task-specific test mode dataset loader"
The default test mode data loader cannot meet the basic requirements of some categories of single-cell prediction, such as `regulatory effect prediction`, we need to force the sample of genes and the sample of peaks that have overlapped in the genomic positions during the test data loader.

[2021-03-31 14:50] vitkl commented on #233
The goal of this step is to estimate the average mRNA count of each gene in each cluster, accounting for platform and batch effects. The goal is not to get a binary list of 'significant' marker genes for each cluster. The goal is not to select N genes out of 20k genes (which is a separate task) but to estimate the biological expression of N genes or all 20k genes in each cell cluster.

[2021-03-31 14:59] vitkl commented on #259
@LuckyMD What do you mean by annotated?

We annotated 10X lymph node data (which can be loaded with scanpy). We annotated each location (spot) as germinal center Germinal Center zone (GC) or not. Then, from the literature, we know that 6 cell populations in scRNA data (B_Cycling, B_GC_DZ, B_GC_LZ, B_GC_prePB, FDC, T_CD4+_TfH_GC) are expected to be in the GC. You can use this to benchmark the accur

[2021-03-31 15:18] vitkl commented on #259
Another aspect of synthetic data generation by combining scRNA-seq cells is to avoid baking in scRNA-seq batch effects into the simulation procedure. For this purpose might be best to use one batch or a few most similar batches.

[2021-03-31 15:29] aopisco commented on #299
multi-modal integration sounds more generic than multi-modal cell alignment. Could we rather create a subtask that specifically addresses the problem of integrating multiple modalities in matched cells?

Task Multi-modal integration
Subtask 1 Matched multi-modal cell alignment

[2021-03-31 15:34] const-ae commented on #246
Following the idea of @dkobak (https://github.com/singlecellopenproblems/SingleCellOpenProblems/issues/246#issuecomment-809632141), I implemented a tiling approach. It produces the following plots:

![image](https://user-images.githubusercontent.com/5359014/113165795-801fda00-9242-11eb-82c7-e6e1a2c97326.png)

The numbers inside the cells are the average size factor per box and the score is the var

[2021-03-31 15:55] dkobak commented on #246
Not too bad! The problem is that there is too much white space on the first two plots (especially the middle one), so the tiles are too large (there are too few non-empty tiles). One could adjust the size of the tiles until there is >20 non-empty tiles, or something like that. Or alternatively use t-SNE and not UMAP, it should have less white space.

By the way, it's a but strange that there is so

[2021-03-31 16:11] atong01 commented on #299
these points both make a lot of sense to me. Perhaps we should keep things the way they are until someone creates another multi-modal integration subtask.

[2021-03-31 16:28] bendemeo commented on #300
This is a great reference! I think co-k-nearest-neighbor size (Q_NN(k)) is especially useful, although it has a nuisance parameter k. To make it more robust, we might average Q_NN(k) for k up to some threshold, possibly weighting for lower distances. But maybe Q_NN(k) is a good place to start. Not sure if the original authors compute an entire distance matrix, but I could write code to generate a

[2021-03-31 17:03] qinqian opened #306 "Regulatory effect prediction methods depend on more gene information"
**What is the method?**
This method [MAESTRO](https://genomebiology.biomedcentral.com/articles/10.1186/s13059-020-02116-x) is originally designed to predict gene expression from chromatin accessibility.

**Where is the code located?**
This [link](https://github.com/liulab-dfci/MAESTRO/blob/2c87d7a624745cc7e4fefc202042b221844e722c/MAESTRO/scATAC_Genescore.py#L70) points to both rp_simple and rp_enh

[2021-03-31 18:52] LuckyMD opened #307 "Wish list for datasets"
This is a wish list for new datasets that would be very helpful in benchmarking methods in a particular task. If you have anything to add, please comment here with the dataset description, and the task name.

[2021-03-31 18:54] LuckyMD opened #308 "Task wish list"
This is a task wish list for problems you might have difficulty defining as a full new task description, but would love to have an output for. Please do your best to define the task in terms of method output and what types of datasets or metrics you could imagine.

[2021-03-31 19:03] wes-lewis commented on #307
RNA Velocity datasets from scVelo would be helpful for testing denoising accuracy and visualizing impact of denoising methods on the velocity graph and velocity vectors visualized on top of a low dimensional embedding.

[2021-04-01 00:12] LuckyMD commented on #307
@wes-lewis Those can be obtained quite easily... I believe scvelo even has example datasets in their tutorial. Or are you looking for something specific?

[2021-04-01 02:48] stephaniehicks opened #310 "Suggestion: create a preprocessing task"
This GitHub issue is being submitted after an hour-long discussion with @const-ae @lazappi @LuckyMD @dburkhardt et al. in the Discord Auditorium on Day 3 of the Jamboree.

I would like to propose the idea of having a separate preprocessing task (as opposed to the normalization `.py` file). Now, there are many preprocessing steps one could imagine this encompassing: e.g. methods for quality control

[2021-04-02 00:13] AlexWeinreb commented on #240
Hi @LuckyMD,

Yes, it's definitely a case of denoising. But I was under the impression the current denoising task focuses on the imputation aspect ("if a gene has 0 reads, is it a biological 0 or a drop-out?"), whereas this focuses on the thresholding ("if a gene has 1 read, is it biologically meaningful or background noise? What about 2 reads? ..."). More directly relevant are the papers that mod

[2021-04-03 02:35] mxposed opened #312 "Redundant R steps in tests workflow"
It appears that setting up R and installing R packages is not needed for running tests anymore, because those tests moved inside Docker containers.

Namely:
 * Set up R
 * Cache R packages
 * Install R packages
in this workflow https://github.com/singlecellopenproblems/SingleCellOpenProblems/blob/master/.github/workflows/run_tests.yml

I removed
 * Cache R packages
 * Install R packages
in my bran

[2021-04-03 13:30] dburkhardt commented on #310
I really like the idea of this, and I think it's important to also make preprocessing methods easily accessible to contributors of other methods. I think of the case where a specific preprocessing workflow is consistently floating to the top of the leaderboard across methods for a specific task (e.g. dimensionality reduction for visualization) and other developers want to use it. This would be eas

[2021-04-05 13:57] stephaniehicks commented on #310
Sounds good. Thanks @dburkhardt

[2021-04-05 18:50] dburkhardt commented on #312
I think the issue here is that you need the packages installed if you need to update a docker container. If you push a commit that updates a docker container, then the run_tests workflow needs to build those new docker containers and needs R installed. However, it is clear that we don't need to do that all the time, so maybe it would be best to only install R and Python if we know we need to build

[2021-04-05 19:21] mxposed commented on #312
Looks like the same step is duplicated within Dockerfile when building docker images: https://github.com/singlecellopenproblems/SingleCellOpenProblems/blob/master/docker/openproblems-r-base/Dockerfile#L33

[2021-04-06 14:04] #254 closed

[2021-04-19 08:44] lazappi commented on #279
This can probably be closed now that #301 has been merged (unless people want to discuss further).

[2021-04-20 16:05] PauBadiaM opened #315 "Transcription factor activity estimation from scRNA-seq task"
Hi everyone! I'm Pau, a PhD student from [saezlab](https://saezlab.org/). We are mostly interested in extracting mechanistic insights from (single-cell) omics data and we would like to propose an OpenProblem around the estimation of Transcription Factor Activities from scRNA-seq. Here's a written a summary, feedback and contributions appreciated, thanks!

# Transcription factor activity estimation

[2021-04-23 12:13] #279 closed

[2021-05-31 16:20] dbdimitrov opened #320 "Task: Benchmark Cell-Cell Communication inference from scRNA-Seq"
Hello Everyone!

I'm Daniel, a PhD student at [saezlab](https://saezlab.org/). I'm opening this GitHub issue motivated by our recent comparison of cell-cell communication methods[1] as well as discussions within the lab and beyond.

## Cell-Cell Communication inference from scRNA-Seq
The growing availability of single-cell RNA sequencing (scRNA-Seq) data is helping us improve our understanding of

[2021-06-16 12:03] rcannood commented on #320
Thanks for making this issue!

Have you already started writing code for this task within the current openproblems framework? If not, I'm wondering if you could give [opsca-viash](https://github.com/openproblems-bio/opsca-viash) a shot, as it allows for much easier switching between Python and R components.

For the sake of completeness, could you post a link to the framework?

How hard is it to a

[2021-10-21 02:51] ibebrett opened #321 "Type on about multimodel docs page"
- [X] I have checked that this issue has not already been reported.
- [] I have confirmed this bug exists on the master branch of openproblems.

---

Currently the website has a typo on:

https://openproblems.bio/neurips_docs/data/about_multimodal/

"DNA defines an organism. Indeed, you can changes the species of a bacteria through genome transplantation"

changes -> change

[2021-10-21 07:45] #321 closed

[2022-03-02 07:24] Chengwei94 opened #323 "How is the preprocessing for the dataset done for multiome?"
Hi all,

can I check how the preprocessing for the dataset is done(before count matrix)? Also, is it possible to upload the fragments file for the multiome data in GSE194122 as well? I think it will b be useful for me to call peaks using macs2Thanks!

Regards,
Chengwei

[2022-03-16 10:19] scottgigante-immunai opened #327 "Docker build fails due to MulticoreTSNE error"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the master branch of openproblems.

---

Error in https://github.com/openproblems-bio/openproblems/actions/runs/1975872665 caused by https://github.com/DmitryUlyanov/Multicore-TSNE/issues/81

[2022-04-22 19:18] #287 closed

[2022-04-26 16:34] scottgigante-immunai opened #375 "olsson_2016_mouse_blood fails with neuralee_default"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the master branch of openproblems.

---

Task fails. Should we take this dataset back out? Looks like it's only 660 cells.

[code]

See https://github.com/openproblems-bio/openproblems/runs/6177998974?check_suite_focus=true#step:10:806

[code]

[2022-04-27 18:27] LuckyMD commented on #375
I would remove it and add the code to a PR for @lazappi to take a look at. I guess this is a method added in the jamboree.

[2022-04-28 07:52] lazappi commented on #375
I would remove the dataset rather than the method. This is the same issue I had getting the tests to work with sampling failing due to not enough cells/not enough expressed genes. We don't really have any specific dataset requirements for this task so I think it should be fine to use others.

I think @mvinyard added this dataset originally, maybe he can tell us if there is a reason we should keep

[2022-04-28 09:45] LuckyMD commented on #375
I guess it might have to do with neuralee hard-coding the number of genes to subset to here: https://github.com/openproblems-bio/openproblems/blob/e9cf91dce73e018c5dab47fa998e6ebc01fbdae5/openproblems/tasks/dimensionality_reduction/methods/neuralee.py#L31

Maybe this dataset doesn't have that many and therefore everything fails? Not sure how the subsampling works, as it's a method-specific functio

[2022-04-29 06:57] lazappi commented on #375
The dataset has heaps of features and is super sparse. So basically what happens is when you subset genes you end up with lots of cells with zero counts and then if you remove those there's no data left. You can get around it if you are careful about how you downsample but I don't think we should modify methods to do that. Even if we did in this case I wouldn't be surprised if this dataset keeps b

[2022-04-29 12:00] LuckyMD commented on #375
Those are really good points. I would be fine with removing the Olsson dataset, but then maybe adding another dataset? There are currently 3, which is quite a nice number. I guess using a dataset from another task should be easy to do here, as there are not really any requirements.

I actually like this. This would also put the onus more on the method contributors if something goes wrong and doesn

[2022-04-29 12:57] mvinyard commented on #375
I have no qualms with taking it out, if it resolves the issue. We can (in the future) replace it with a less error-prone dataset.

[2022-04-29 19:15] scottgigante-immunai commented on #375
These are all very good points. I like the idea (at least in the long term) of allowing things to fail -- showing if methods are error-prone or flaky is important for people to know -- but there are a lot of questions on exactly how we should implement this and it would probably take a while.

I'm actually more inclined to modify this method than to remove the dataset. Since we know why it's faili

[2022-05-02 13:04] LuckyMD commented on #375
Do we know who added the method? @lazappi @mvinyard ?

[2022-05-02 13:54] lazappi commented on #375
@michalk8 made the original PR https://github.com/lazappi/openproblems/pull/4 (I may have modified it a bit since then though)

[2022-05-09 18:49] #375 closed

[2022-05-10 16:17] scottgigante-immunai opened #395 "Subtask structure"
Two options for subtasks:

1. One main task, multiple subtasks.

Example: all batch integration methods produce a graph. Some also produce an embedding or batch corrected features. The main task is selected as `batch_integration_graph`, and all methods are defined there. Methods that also produce features or embeddings are imported to the subtasks from the main task.

2. Multiple subtasks with som

[2022-05-11 09:39] LuckyMD commented on #395
To do:
* [ ] add this info to the documentation

[2022-05-14 18:28] scottgigante-immunai opened #407 "How to handle long-running methods in benchmark"
`scarches_scanvi_all_genes` takes over 4 hours to run on `cengen_random`. This currently causes nextflow to time out.

I have more or less solved the 6h timeout / self hosted issue, but this timeout is imposed by the nextflow pipeline (we can adjust it) to limit costs.

We need to decide if we should 1) just extend the max runtime from 4h to say 24h or 2) adjust the parameters on scarches to make

[2022-05-16 09:15] LuckyMD commented on #407
I think this is not unexpected in terms of timing. scvi/scANVI scales constantly with dataset size given heuristics on n_epochs that are often used. For a full benchmark run, I think 4h is actually not that much... however maybe we should add a maximum number of epochs for very small datasets? Is the 4h with early stopping activated? Is this sth @adamgayoso may want to comment on?

[2022-05-16 16:13] scottgigante-immunai commented on #407
I increased the maximum runtime for a given task to 24h, and we still hit a `SIGTERM` on EC2 after 12 hours. I'm not entirely sure why we got terminated but I think it's reasonable to require methods take a limited amount of time as otherwise this will get very expensive.

[2022-05-16 16:14] scottgigante-immunai commented on #407
SCVI is implemented [here](https://github.com/openproblems-bio/openproblems/blob/main/openproblems/tasks/label_projection/methods/scvi_tools.py#L31). I can't see an explicit statement of early stopping, but I'm not sure if that's on by default.

[2022-05-16 16:27] adamgayoso commented on #407
Is it possible to include GPU compute resources in the pipeline?

[2022-05-16 16:34] scottgigante-immunai commented on #407
It would require some rethinking of how nextflow resources are selected, but it might be possible.

[2022-05-16 16:35] adamgayoso opened #412 "Add scANVI with random forest classifier as well"
https://github.com/openproblems-bio/openproblems/blob/f74588ca0d2940b4d2e3034ec72cb45dc7b69ac1/openproblems/tasks/label_projection/methods/scvi_tools.py#L116

scANVI is known to not perform well for rare cell types. It would be great to also include a RF classifier trained on the latent space and then used for prediction after all the cells are in the same latent space.

[2022-05-16 16:36] adamgayoso commented on #407
I see, in my biased opinion, this should be prioritized as I'm sure there will be many methods in this benchmark that can leverage a GPU.

[2022-05-16 16:44] scottgigante-immunai commented on #407
A brief investigation leaves me thinking this will be quite challenging. Currently nextflow doesn't allow for dynamic process labels per https://github.com/nextflow-io/nextflow/issues/1786. Probably the solution will be to do some more advanced logic to split CPU and GPU tasks into different channels.

[2022-05-17 08:48] LuckyMD commented on #407
I agree in principle. This should also limit the dataset sizes we use then though. Otherwise we're also pre-selecting methods that are less complex. Is it possible to set the limit differently per task? Some tasks (e.g., dimensionality reduction) should be faster), while otherwise (e.g., batch integration or multi-modal integration) could be slower.

It's not on by default. We need to add `early_s

[2022-05-17 15:47] LuckyMD commented on #412
That's a great point. Are you interested in adding the method? Otherwise, we could put it on the todo list and I can see when one of us has time.

[2022-05-17 17:52] scottgigante-immunai commented on #407
So unfortunately dynamically setting resources is challenging due to a nextflow bug.

Only SCVI / ScArches for now, soon to add DCA. Long term definitely a must-have but I don't think it's an immediate priority.

[2022-05-23 07:45] wmacnair opened #421 "Feature request: Functionality for dynamic benchmarking results tables"
Hi

Each benchmark combines:

- multiple datasets with different characteristics;
- multiple metrics whose importance may vary between users; and
- multiple methods with particular characteristics (e.g. differing assumptions on input data).

It therefore does not make sense to give one static ranking as the result of a benchmark: each user has their own use cases, and by definition a static rankin

[2022-06-08 13:40] scottgigante-immunai opened #432 "bbknn_full_unscaled is flaky"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the master branch of openproblems.

---

bbknn is giving errors that don't always reproduce: [segmentation fault](https://github.com/scottgigante-immunai/openproblems/runs/6780851024?check_suite_focus=true) and [illegal_instruction](https://github.com/scottgigante-immunai/openproblems/runs

[2022-06-13 14:37] LuckyMD commented on #432
@danielStrobl could you look into this when you're back from vacation? Strange that it only happens for full unscaled and not for hvg versions. Might have to do with memory limits being reached?

[2022-06-13 14:42] scottgigante-immunai commented on #432
Even more odd that `full_scaled` doesn't seem to break.

[2022-06-13 14:51] LuckyMD commented on #432
True... that should be even more memory intensive...

[2022-06-13 14:51] #432 closed

[2022-06-13 14:51] LuckyMD commented on #432
Could you link daniel and me to the new PR?

[2022-06-13 15:02] scottgigante-immunai commented on #432
Done

[2022-06-15 19:12] scottgigante-immunai opened #457 "Docker images broken for bbknn and scanorama"
On the current build, bbknn and scanorama hang with an incomprehensible error, e.g.

[code]

If you enter a number and hit return, it exists with `Illegal instruction`. This hang causes nextflow to run indefinitely and is making it impossible to get anything through CI. Somewhat incomprehensibly, I have tested building the images locally and the error does not reproduce.

Temporary fix is that I c

[2022-06-17 18:16] scottgigante-immunai opened #461 "[`batch_integration_graph`] scVI and scANVI run slowly in test mode"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the master branch of openproblems.

---

scVI and scANVI run [extremely slowly](https://github.com/scottgigante-immunai/openproblems/runs/6939277528?check_suite_focus=true) in test mode. They currently [don't tune hyperparameters or use early stopping](https://github.com/openproblems-bio/o

[2022-06-20 07:33] adamgayoso commented on #461
Related: https://github.com/theislab/scib/pull/316

[2022-06-21 14:44] LuckyMD commented on #457
This is very strange... @mumichae recently made the scib function naming changes.... but i don't know why that would affect this. Any ideas @mumichae?

[2022-06-21 14:47] mumichae commented on #457
Which version of scib are we talking about? Not sure if this is related to the deprecation warning, but we should ideally be using the newer naming scheme.

[2022-06-21 15:06] scottgigante-immunai commented on #457
I found the problem -- it's caused by https://github.com/spotify/annoy/issues/513. Don't know exactly why but reinstalling inside the docker container at runtime (https://github.com/openproblems-bio/nf-openproblems/commit/474dd7ed8ad462c7ba8498f6f827e3717c31e22f) seems to have solved it.

[2022-06-21 15:06] #457 closed

[2022-06-21 15:06] scottgigante-immunai commented on #457
The scIB warning is unrelated, but you're right we should be using the updated naming scheme.

[2022-06-22 00:39] LuckyMD commented on #457
thanks for comments @mumichae !

[2022-07-14 18:53] scottgigante-immunai commented on #461
@LuckyMD what is the latest progress on this?

[2022-07-14 20:15] scottgigante-immunai commented on #461
Oh, great! That will help. Looks like it still doesn't accept early stopping (relevant to full benchmark runtime) but this solves the test runtime at least.

[2022-07-14 20:20] scottgigante-immunai opened #478 "[`batch_integration_graph`] scVI and scANVI do not use early stopping"
scVI and scanVI are easily the slowest methods at eval time. I see no reason not to use early stopping, but the scIB interface doesn't allow this.

cc @LuckyMD @adamgayoso

[2022-07-14 23:51] LuckyMD commented on #461
Ah, right... there was a second thing... I will tag @mumichae here to see if she can quickly add.

[2022-07-14 23:52] LuckyMD commented on #478
Agreed... but tbh I thought it was default.

[2022-07-15 14:23] scottgigante-immunai commented on #478
In label projection we pass the train kwarg `early_stopping=True`. Per the [docs](https://docs.scvi-tools.org/en/stable/api/reference/scvi.model.SCVI.html#train) it looks like the default is false.

[2022-07-15 19:08] #461 closed

[2022-07-18 09:41] lazappi commented on #252
This can be closed now that #316 is merged

[2022-07-19 12:55] LuckyMD opened #497 "Need to update the README task leaders"
Currently the README says:

[code]

This should probably read the following to more accurately reflect those who took leadership for different tasks:
[code]

Also, CZI support should include Ivana.

[2022-07-19 14:47] mvinyard commented on #497
Confirm - thanks, @LuckyMD. Although I must say @lazappi did considerably more work than I did on this task, so I don't want to over-credit myself

[2022-07-19 19:38] danielStrobl commented on #497
I confirm!

[2022-07-19 19:47] qinqian commented on #497
I confirm Regulatory effect prediction,  in which the subtask ATAC denoising should be konstantin.

[2022-07-20 06:47] lazappi commented on #497
Confirm

[2022-07-20 07:13] emdann commented on #497
confirm

[2022-08-30 12:05] LuckyMD opened #550 "Openproblems install difficulty on new M1 Mac"
I have been having issues installing openproblems dependencies (scanpy, leigenalg, louvain, etc.) on my new M1 mac after updating homebrew. I wanted to leave this issue here in case this comes up again, and it's not just my setup.

I had to first:
[code]

Then set `LDFLAGS` and `CPPFLAGS` ENV variables explicitly:
[code]

The issues I faced were always due to compilers not being available and link

[2022-08-30 12:44] LuckyMD opened #551 "Openproblems-cli testing in dev mode with mounted package"
When I run `openproblems-cli` in an `openproblems-python-scvi` docker container, while mounting the openproblems package, I get an error about `jax` versions not matching. Does that mean I have to have the exact same setup on my laptop to test openproblems code like this? That seems like quite a lot of effort... is it possible to mount only the specific file I'm working on to avoid this issue?

-

[2022-09-15 20:44] scottgigante-immunai opened #575 "Metric output standardisation"
Taking the average of ranks is advised against for biomedical image analysis competitions (https://doi.org/10.1038/s41467-018-07619-7). From the paper:

_Originally posted by @LuckyMD in https://github.com/openproblems-bio/openproblems/issues/566#issuecomment-1246925162_

[2022-09-15 20:45] scottgigante-immunai commented on #575
Proposed solution: each task requires a sample dataset with perfect performance and a sample dataset with "bad" (random, ideally) performance. All metrics are scaled between 0 (bad) and 1 (perfect).

[2022-09-15 20:57] scottgigante-immunai commented on #575
Proposed bad solutions:
* `batch_integration_graph`: graph edges are created randomly within-batch, so every cell is connected only within its own batch but no biology is conserved
* `batch_integration_embedding`: embeddings are generated by PCA and then coordinates shuffled within each batch
* `batch_integration_feature`: counts are shuffled within each batch
* `denoising`: do nothing
* `label_pr

[2022-09-15 20:58] scottgigante-immunai commented on #575
We could allow multiple perfect datasets, in which case 1 will be defined as the best performance among the perfect datasets -- one would be perfect batch mixing, the other would be no batch mixing / perfect bio conservation

[2022-09-15 20:59] scottgigante-immunai commented on #575
If we allow multiple bad solutions, then perfect for bio-conservation (do nothing) can serve as a baseline for batch mixing, and perfect for batch mixing (total mixing) can serve as a baseline for bio-conservation.

[2022-09-16 14:16] LuckyMD opened #577 "Next steps batch integration task:"
Still left to do:
- [ ] Add FastMNN gene
- [x] Add 1 more dataset

[2022-09-22 16:11] adamgayoso opened #586 "Use mamba environments in docker"
Currently the docker containers install R/Python and then install packages using pip -r requirements for example on the Python side.

Wouldn't it be easier/faster if docker just installed miniforge and then we used conda env yaml files? For example I could see this making things easier on the R side where packages are already compiled (I think) for linux. On the Python side it would make it easier

[2022-09-22 23:32] vitkl opened #589 "Spatial decomposition: cell2location/RCTD/destVI benchmark results don't make sense"
- [x] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the `main` branch of openproblems.

I see that cell2location benchmark results as well as results for other methods such as RCTD don't make sense (https://openproblems.bio/benchmarks/spatial_decomposition/pancreas_alpha_0_5). The accuracy and ranking are very unexpected - I would expect (f

[2022-09-22 23:48] scottgigante commented on #589
Thanks for the report @vitkl! @giovp is already looking into this. Hopefully we will find the cause soon.

[2022-09-25 11:23] LuckyMD commented on #586
I have recently been hesitant to use conda/mamba, due to issues with dependency updates when also installing via pip/R (which we'll have to do anyway). This would only really be an issue if we use the docker containers for interactive dev environments as well I guess... but then we have discussed that this is something we want to enable. Where do you stand on this @scottgigante-immunai?

[2022-09-26 16:36] #586 closed

[2022-10-11 17:33] wes-lewis commented on #575
The proposed bad and perfect methods for denoising sound good to me!

[2022-10-12 07:43] LuckyMD commented on #575
I'll answer from my perspective and based on discussions we had yesterday in the meeting (most of which were things Scott had immediate answers to).

Yes, this is fine. It's a good comparative indicator of method performance IMO. We would use the rescaled metric scores to average and then rank in the end, so this shouldn't be an issue.

This would be cause for concern and lead to methods being re-

[2022-10-12 19:44] scottgigante-immunai commented on #575
Basically agree with all of Malte's points here, with some additional points. Firstly, if we don't _enforce_ the presence of at least two baselines, we have to normalize to min and max over all methods, not min and max over all baseline methods (or failing that, we could normalize over all baselines if at least two are present, and use all methods if two baselines are not present) -- this decision

[2022-10-13 07:09] lazappi commented on #575
Sound reasonable. I suspect there will be a range of edge cases to sort out as this is implemented for more scenarios though. I wouldn't be too quick to rule out methods performing worse than random though. I've only done a few tests for my benchmark but I've already seen that in a few cases. I think particularly it can happen when you have metrics that measure opposing things and a method optimis

[2022-10-13 14:09] scottgigante-immunai commented on #575
^ This is a good point. If a method performs worse than random on all or most metrics, that would be concerning (and point to either a bug or a very bad method) but if it performs well on other metrics at the same time I'd be inclined to leave it alone.

[2022-10-14 12:37] LuckyMD commented on #575
I guess negative scores don't matter for the ranking as we can still average them with other metrics before ranking. If overall metric average is negative, then we have something weird going on as you suggest.

[2022-10-17 20:46] scottgigante-immunai opened #633 "Tabula Muris Senis data is pre-normalized"
Datasets are expected to provide raw count data; however, `load_tabula_muris_senis` returns normalized counts. This is causing #612 to fail and likely also #611, as well as probably giving erroneous results in the `label_projection` task.

[code]

[2022-10-18 16:00] LuckyMD commented on #633
good catch. I think Mo initially added this a long time ago.

[2022-10-18 17:41] mxposed commented on #633
Good catch indeed. This was added by Ann Chen on jamboree.
We load h5ad from here: https://figshare.com/articles/dataset/Tabula_Muris_Senis_Data_Objects/12654728
Unfortunately, these objects don't have counts, although there is even `adata.layers["counts"]` it actually has the same data as `adata.X`

[2022-10-18 17:55] mxposed commented on #633
I found raw counts in here https://s3.console.aws.amazon.com/s3/object/czb-tabula-muris-senis?region=us-west-2&prefix=Data-objects/tabula-muris-senis-droplet-official-raw-obj.h5ad

Will work on getting this data into the dataset loader. I guess it's safe to assume we will want only droplet-based (10x) counts, not FACS, right? @LuckyMD @scottgigante-immunai

[2022-10-18 18:28] mxposed commented on #633
By the way, the current code looks like it will always download a new copy of the data to a temp directory. Am I missing a cache layer somewhere?

Like here: https://github.com/openproblems-bio/openproblems/blob/main/openproblems/data/zebrafish.py

[2022-10-18 19:26] mxposed commented on #633
Upd: I found counts for FACS (SmartSeq2) tabula muris senis data too, will keep both methods

[2022-10-18 20:19] mxposed commented on #633
Disregard that, found the cache in the decorator

[2022-10-18 23:04] LuckyMD commented on #633
Hey!

I just slacked Jason from lattice team about the CELLxGENE data portal links that we could also use as external source. Their links have a 7 day validity only though. If they have permalinks for us, then that might be the best source.

[2022-10-19 13:28] scottgigante-immunai commented on #633
This is great work @mxposed! Thanks for following up here. Unfortunately the downside of the new objects you found vis-a-vis the old is that the old objects were split also by organ, so we only downloaded what we needed. If you can get equivalent links with the raw counts, I think that would be better.

[2022-10-23 13:28] dbdimitrov opened #644 "Metrics robust to ground truth differences and class imbalance [CCC]"
An aim of the CCC task is to serve as a flexible scaffold, yet robust scaffold, that is to accommodate any method regardless of its output - given that its output fits any task. However, having methods that do not necessarily have the same output poses some challenges to how we define robustly evaluate them.

This issue builds on our previous discussion on how to deal with differences that stem fr

[2022-10-23 13:41] dbdimitrov commented on #644
A proposed solution (@LuckyMD, @scottgigante-immunai) to account for this issue is to aggregate any predictions by the `merge_keys` of the ground truth - thus ensuring that any method provides a single score for each label in the ground truth.

In particular, by considering the `max` and `mean` for each response instance.

[2022-10-24 23:35] mxposed commented on #633
Updated pull request with code that uses CELLxGENE API

[2022-10-25 12:36] LuckyMD commented on #633
Awesome!

[2022-11-14 13:07] rcannood opened #679 "Add scripts for datasets"
How were the following h5ad files generated? It shouldn't be sufficient to post an h5ad file on figshare to have it included in openproblems.

* https://figshare.com/ndownloader/files/36509385 from [allen_brain_atlas.py](https://github.com/openproblems-bio/openproblems/blob/main/openproblems/data/allen_brain_atlas.py)
* https://ndownloader.figshare.com/files/36086786 from [immune_cells.py](https:/

[2022-11-14 13:17] rcannood opened #680 "Pancreas counts are not integers"
[code]

    (0, 16)       1.0019583
    (0, 20)       1.0019583
    (0, 25)       1.0019583
    (0, 30)       2.0078535
    (0, 40)       1.0019583
    (0, 66)       4.0315795
    :     :
    (16381, 18633)        93.4915
    (16381, 18641)        5.5119
    (16381, 18660)        1.2677
    (16381, 18661)        4.6227
    (16381, 18665)        0.1375
    (16381, 18675)        7.6811
    (16381, 1

[2022-11-14 13:37] rcannood commented on #323
Related to #679.

[2022-11-14 15:12] LuckyMD commented on #680
Look at the batch assignment of the non-integeger values. They may be from non-UMI technologies.

[2022-11-14 16:23] scottgigante-immunai opened #682 "kBET returns NaN"
Needs to be installed. cc @LuckyMD

[2022-11-14 16:24] scottgigante-immunai opened #683 "Combat (scaled) returns NaN in PC Regression"
Unclear why. See raw results output at https://github.com/openproblems-bio/openproblems/actions/runs/3463236911. cc @LuckyMD

[2022-11-14 16:42] scottgigante-immunai opened #684 "All `odds_ratio` calls return 0"
See https://deploy-preview-48--openproblems-sca.netlify.app/benchmarks/cell_cell_communication_ligand_target/tnbc_data/

[2022-11-14 17:17] LuckyMD commented on #682
See https://github.com/openproblems-bio/website/pull/45

[2022-11-14 17:17] LuckyMD commented on #683
Discussion: https://github.com/openproblems-bio/website/pull/45

[2022-11-14 18:32] scottgigante-immunai commented on #575
Imho if all methods are scoring extremely similarly compared to the gap between random and perfect performance, that is important information. If we had e.g. classification accuracy on MNIST as a task, you would see very quickly that this task is basically solved / all methods perform more or less equally well.

* A current example where this is somewhat suboptimal is [isolated label silhouette in

[2022-11-14 18:35] scottgigante-immunai opened #685 "batch integration baselines are suboptimal"
[isolated label silhouette in batch_integration_embed](https://deploy-preview-48--openproblems-sca.netlify.app/benchmarks/batch_integration_graph/immune_batch/) and [ARI in batch_integration_graph](https://deploy-preview-48--openproblems-sca.netlify.app/benchmarks/batch_integration_graph/immune_batch/) have scores much greater than 1. We need to design better baselines that are optimised to perfor

[2022-11-15 17:17] scottgigante-immunai commented on #589
Improved benchmarks are uploaded at https://openproblems.bio/benchmarks/spatial_decomposition/. Mostly match your expectations, except for Cell2location.

[2022-11-15 17:46] giovp commented on #589
thanks a lot @scottgigante-immunai results look indeed much more sensible now.

[2022-11-16 13:08] rcannood commented on #575
Regardless of whether and how any rescaling is done, I think it's definitely valuable to display (or have the option of displaying) the random, perfect and baseline results alongside the other methods. This allows to compare how some methods compare to different baseline methods (e.g. majority vote vs. random labels in label projection).

For example, in the [NeurIPS 2021 pre-competition paper](ht

[2022-11-16 14:53] scottgigante-immunai commented on #575
The positive control here is just the unreduced data.

Except we can cheat :) See above.

This is an argument in favour of clear communication that the metrics are scaled, not necessarily to not display the scaled metrics. Having everything range from ~0 to ~1 gives people an idea of how good a score is. Yes, F1 is well understood and most people know what an F1 score of 0.8 means, but how good is

[2022-11-16 20:18] adamgayoso opened #692 "Batch integration result metrics are not in proper range"
https://openproblems.bio/benchmarks/batch_integration_embed/immune_batch/

It seems the silhouette is greater than 1? How is that possible if scib is rescaling to [0, 1]?

Also, is there a total score that is being computed to rank the methods? It would be great if that total score was included.

[2022-11-16 21:27] scottgigante-immunai commented on #679
@dbdimitrov
* https://figshare.com/ndownloader/files/37593188 from [tnbc_wu2021.py](https://github.com/openproblems-bio/openproblems/blob/main/openproblems/data/tnbc_wu2021.py)
* https://figshare.com/ndownloader/files/36509385 from [allen_brain_atlas.py](https://github.com/openproblems-bio/openproblems/blob/main/openproblems/data/allen_brain_atlas.py)
@LuckyMD
* https://ndownloader.figshare.com/fi

[2022-11-16 22:20] vitkl commented on #589
Maybe this is related to current cell2location code not computing proportions per location/spot?

[2022-11-17 08:06] lazappi commented on #679
I'm not sure exactly what the concern is but I'm pretty sure the mouse blood was uploaded by the authors as part of the supplementary to their paper.

[2022-11-17 09:12] LuckyMD commented on #692
Thanks for the issue @adamgayoso. We are currently rescaling the metrics to a range between a random and perfect baseline in open problems. We were discussing on Tuesday how to best document this on the website. One thought was to enable a toggle between raw and scaled values in the tables. Do you have any thoughts on this?

This rescaling is also used to compute a total score just using mean aggr

[2022-11-17 12:25] LuckyMD commented on #589
@vitkl I believe that you added the method to the repo, no? Would you be able to adapt it then to match the task API as well? If it's not computing proportions at the moment, what is it computing?

[2022-11-17 13:40] mvinyard commented on #679
@lazappi @scottgigante-immunai - if I remember correctly, I actually put these on figshare during an early version of populating the repo with a work-able set of data / tasks, etc. @rcannood @scottgigante-immunai - how do you suggest we document these scripts? Happy to follow your guidelines!

[2022-11-17 13:57] scottgigante-immunai commented on #679
Ideally we would have a reproducible python script that fetches the data from wherever the authors posted it, but failing that at least a description of what was done (if it's not exactly the same as how it was done last time because nobody remembers, we can always regenerate it according to best practices.)

[2022-11-17 14:06] mvinyard commented on #679
@scottgigante-immunai - thank you! This sounds great. I will migrate these datasets to this in the coming week or so. Thanks again!

[2022-11-17 16:32] adamgayoso commented on #692
I like the idea of a toggle and including the mean score (as well as how it's computed; are you doing the 0.6/0.4 split)?

[2022-11-17 16:34] adamgayoso opened #694 "Use scib-metrics implementations for batch integration embedding task"
For the batch integration embedding task we have developed this package:

https://scib-metrics.readthedocs.io/en/stable/

with python-only, jax-based implementations. This would easily allow fast clisi/ilisi. We also sped up:

https://scib-metrics.readthedocs.io/en/stable/generated/scib_metrics.nmi_ari_cluster_labels_leiden.html#scib_metrics.nmi_ari_cluster_labels_leiden

by using joblib and a fas

[2022-11-17 16:57] adamgayoso opened #695 "Counts being passed to scvi-tools models?"
Take the immune dataset:

Here counts are moved to .X and the layer is deleted:

https://github.com/openproblems-bio/openproblems/blob/2d7198652875e48c63b6b6d6ab440eec27bafda0/openproblems/data/immune_cells.py#L39-L41
Here .X is made to be the log normalized expression:

https://github.com/openproblems-bio/openproblems/blob/2d7198652875e48c63b6b6d6ab440eec27bafda0/openproblems/tasks/_batch_integra

[2022-11-17 17:05] adamgayoso opened #696 "Use scanpy hvg with batch key instead of scib package"
It would be easier to understand what's going on if this function used the scanpy hvg function

https://github.com/openproblems-bio/openproblems/blob/2d7198652875e48c63b6b6d6ab440eec27bafda0/openproblems/tasks/_batch_integration/batch_integration_graph/methods/_utils.py#L1

[code]

[2022-11-18 08:57] rcannood commented on #679
This is great news!

Indeed, it'd be great if there could be a script with a set of instructions on which file was downloaded, processed in which way, in order to get the same object as what's on figshare.

In [openpipelines](https://github.com/openpipelines-bio/openpipeline/tree/main/workflows/resources_test_scripts) this is a set of bash scripts, but Python is fine as well, as long we have _some

[2022-11-18 09:15] LuckyMD commented on #695
I'm actually not sure where it comes back in at the moment, but I can tell you that the `counts` layer still exists in the data object.

[code]

[2022-11-18 09:28] LuckyMD commented on #695
This is in the latest github release... @danielStrobl @scottgigante-immunai... any ideas why this is still there? It definitely should be...

[2022-11-18 11:36] LuckyMD commented on #679
The immune and pancreas examples are from scib. There is a detailed set of notebooks both datasets including download and processing [here](https://github.com/theislab/scib-reproducibility/tree/main/notebooks/data_preprocessing).

[2022-11-18 11:53] LuckyMD commented on #692
We're not currently doing the 60-40 split to be consistent across tasks. I do think we should, but it's not currently something that is set task-specifically.

[2022-11-18 11:56] LuckyMD commented on #696
Good point... I think this is actually nearly equivalent to the scib function. Goekcen and I wrote this at the same time.

[2022-11-18 11:58] LuckyMD commented on #694
I think it would make sense to compare metric reimplementations to the original metrics and then make a call on picking one set in successive iterations of open problems.

[2022-11-18 12:12] LuckyMD commented on #575
I would also argue that working with baselines is better than scaling by method results. We did the latter for our data integration benchmark, which meant that overall rankings could change if a new method was added (and this actually happened occasionally). I'm not sure if negative and positive baselines perfectly define the active range of a metric, but at least it's more stable.

I agree this s

[2022-11-18 12:13] LuckyMD commented on #685
may be solved via #686 . To be closed once results come out

[2022-11-18 15:59] scottgigante-immunai commented on #695
`.X` is copied to `.layers["counts"]` by default in all datasets in the dataset decorator.

[2022-11-18 17:13] adamgayoso commented on #694
We are testing for metric value equivalence in our testing suite

[2022-11-18 17:15] adamgayoso commented on #692
To me it makes sense to maybe have a straight average, a bio-biased average, and a batch-biased average? (5050,6040,4060)

[2022-11-18 17:22] scottgigante-immunai commented on #695
It's an interesting thought. I'd rather not double the memory/disk/network usage here for nothing -- what if instead we add a test to the normalization test suite ensuring that normalizations don't operate in place?

[2022-11-18 18:24] LuckyMD commented on #694
Okay. I guess this might still change when testing across datasets. I think @mumichae discovered some differences on our end... mainly for the clustering-based methods that now use k-means.

[2022-11-18 18:29] LuckyMD commented on #692
hmm... i wonder if that will just over-complicate things. Either way it's not generalizeable across tasks and so would require some exception in the ranking. It should definitely be discussed though.

[2022-11-18 18:31] LuckyMD commented on #695
Thanks @scottgigante-immunai. I recall something was done in the decorator... but I couldn't quickly find what.

[2022-11-18 18:32] LuckyMD commented on #695
It's still quite strange to find seemingly contradictory lines of code like this though... deleting the counts layer explicitly, but still relying that it's there.

[2022-11-18 18:34] LuckyMD commented on #575
Yeah, you may be right. The website looks pretty good already... further prettification is not as important as being able to fully understand the results.

[2022-11-18 18:53] scottgigante-immunai commented on #695
There's no real need to delete it here -- it's only repopulated if it's missing. I'll remove that line for the sake of less confusion.

[2022-11-18 19:08] adamgayoso commented on #695
Also the cpm normalization adds a counts layer as a copy. Ideally you wouldn't need to look in 5 places to find what's going on :)

[2022-11-18 19:09] adamgayoso commented on #694
Yes we added a kmeans metric using known K, but are still working on speed

https://scib-metrics.readthedocs.io/en/stable/generated/scib_metrics.nmi_ari_cluster_labels_kmeans.html#scib_metrics.nmi_ari_cluster_labels_kmeans

We also implemented the scib way with optimized leiden (instead of louvain) clustering

https://scib-metrics.readthedocs.io/en/stable/generated/scib_metrics.nmi_ari_cluster_lab

[2022-11-18 19:17] scottgigante-immunai commented on #695
Ah, that's redundant and can be removed too :) Thanks!

[2022-11-19 04:41] vitkl commented on #589
It's computing absolute cell abundance.

[2022-11-19 04:56] vitkl commented on #589
I changed to proportions in this PR: https://github.com/openproblems-bio/openproblems/pull/700

[2022-11-19 05:03] vitkl commented on #589
This simulation doesn't account for co-location of cell type, correct?

That would be another reason to not except not much difference between cell2location and other methods. If there is no co-location signal to learn from in the data we won't really expect improvement in accuracy. All real tissues do have that signal - (maybe with some rare exceptions).
However, let's see how the results with pr

[2022-11-21 09:51] LuckyMD commented on #589
@giovp would need to answer that question. Feel free to add a different simulation scenario that accounts for this if you think this is important to show.

In terms of proportions... @scottgigante-immunai did you not add a "proportion correction" at some point to ensure all outputs sum to 1 before computing the metrics?

[2022-11-21 10:16] giovp commented on #589
could you elaborate on this? you mean a non-random dependency between celltypes occurring in same spots?
If that's the case, then I think only the destVI models the spatial distribution based on some covariance structure: https://www.nature.com/articles/s41587-022-01272-8#Sec9 whereas the pancreas and tabula muris senis do not.

[2022-11-21 16:08] scottgigante-immunai commented on #589
Yes, we added a check in the [API](https://github.com/openproblems-bio/openproblems/blob/main/openproblems/tasks/spatial_decomposition/api.py#L45) to ensure that all outputs sum to 1. I don't think this is the issue.

[2022-11-21 17:46] giovp commented on #589
considering cell2location performance wrt to dataset I believe this intuition is correct

[2022-11-22 16:11] vitkl commented on #589
Yes exactly

[2022-11-22 16:25] vitkl commented on #589
I agree with your point about this dataset illustrating cell-type co-occurrence.

However, I always see that amortised inference has lower accuracy than standard SVI inference - except for super high-quality data where it gives the same results. So this result doesn't make sense.

Is it possible to look at the predictions of this workflow rather than just r^2? Would be good to see how this scatter

[2022-11-22 16:31] vitkl commented on #589
How is the value of these two arguments set?

[code]

[2022-11-22 16:40] vitkl commented on #589
Another issue is scRNA batch effects resulting in weird simulated data. I would delete the pancreas dataset from this task because it mixes up cells generated by very different technologies (CEL-seq, CEL-seq2, Smart-seq2, inDrop, Fluidigm C1, and SMARTER-seq). Some "spots" end up having CEL-seq cells whereas other spots have Smart-seq2 cells with at least an order of magnitude difference in counts

[2022-11-22 16:50] vitkl commented on #589
Similarly, I see that Tabula Muris Senis data has both Smart-seq2 and droplet-based 10x. Do you include both in the simulation?

[2022-11-22 17:02] scottgigante-immunai commented on #589
Unless set manually, the defaults are set in the function. https://github.com/openproblems-bio/openproblems/blob/main/openproblems/tasks/spatial_decomposition/methods/cell2location.py#L38

No. We use only 10x data from lung at the 30m time point. https://github.com/openproblems-bio/openproblems/blob/main/openproblems/tasks/spatial_decomposition/datasets/tabula_muris_senis.py#L10

We keep only one

[2022-11-23 22:25] rcannood commented on #575
I'm working on rendering raw values in openproblems-bio/website#58.

However, while going through the results, I see some strange effects of the scaling. Namely, there are a _lot_ of values which lie outside the [0, 1] range:

    (-1e+03,-100]    (-100,-10]      (-10,-1]        (-1,0]         (0,1]        (1,10]      (10,100]
                5            10            12           131           7

[2022-11-24 01:20] vitkl commented on #589
Thanks for the responses. Great to know that the datasets are constructed from relatively homogenous input.

Are the defaults ever overwritten?

What is needed to be installed to run the simple python option? Is the code below sufficient?
[code]
Which commands listed on https://github.com/openproblems-bio/openproblems/blob/main/CONTRIBUTING.md#code-style-and-testing download relevant docker images

[2022-11-24 01:20] vitkl commented on #589
Also, when constructing the dataset why not simply do:
[code]

rather than:
[code]
which essentially completely decouples the total biological RNA count from the detected total UMI count. This is highly unrealistic for real spatial datasets and simulates "maximum" extent of RNA detection sensitivity difference between cells.

Maybe you can create that version of the dataset to show me an example o

[2022-11-24 02:16] scottgigante commented on #575
I don't have time to reply in full, but:

* big negative results in spatial are a bug
* big positive results in batch should be solved by the new baseline
* dim red we should think about including some additional baselines
* raw results stored under artifacts here:
https://github.com/openproblems-bio/openproblems/actions/runs/3525676257

On Wed, 23 Nov 2022, 5:25 pm Robrecht Cannoodt, ***@***.***>

[2022-11-24 06:57] rcannood commented on #575
Thanks for the quick response, I'll take a look :)

[2022-11-24 09:00] rcannood commented on #575
I think these two plots shed some light cases where the baselines are having issues.

[dens_raw.pdf](https://github.com/openproblems-bio/openproblems/files/10082181/dens_raw.pdf)
[compare_dens.pdf](https://github.com/openproblems-bio/openproblems/files/10082180/compare_dens.pdf)

* batch_integration_embed: None of the baseline methods seem to achieve a good score on the metrics `isolated_labels_si

[2022-11-25 08:31] lazappi commented on #575
In case it's useful, for a benchmarking project I am working on we are going to use a default method as the positive control rather than trying to design a perfect synthetic method. I think this has a couple of advantages, 1) as we have seen it's difficult to predict how metrics behave so using a real method should be more similar to other real methods, 2) it makes the scores a bit more interpreta

[2022-11-25 19:27] scottgigante-immunai commented on #575
Yeah, I lean away from trying to find a single method that performs well on all metrics, esp in tasks like batch integration where some metrics are in direct contradiction with others.

Some of these issues are already resolved. New results available at https://deploy-preview-60--openproblems-sca.netlify.app/benchmarks/ (raw values at https://github.com/openproblems-bio/openproblems/actions/runs/3

[2022-11-26 17:58] vitkl commented on #589
We normally don't recommend using fully flexible normalisation (`detection_alpha=1`) because it completely removes the relationship between estimated cell abundance and the number of cells you see in the image. I analysed a number of datasets, such as https://www.biorxiv.org/content/10.1101/2021.11.26.470108v1, where over-normalisation leads to the spurious mapping of a subset of cell types to low

[2022-11-26 19:49] scottgigante-immunai commented on #589
Not in the automated benchmark. Override is there for you if you want to run the methods yourself with different params.

If you're not adding new dependencies,
[code]
should do the job. You only need docker images if a) you can't install the deps locally e.g. in a virtualenv or b) you are running the tests locally as described in CONTRIBUTING.

Questions about the datasets and methods in this tas

[2022-11-26 19:51] scottgigante-immunai commented on #589
Alternative to installing deps as described above: you can run everything inside that docker image with the command provided in CONTRIBUTING.

[code]

[2022-11-27 05:57] vitkl commented on #589
Thanks for the instructions @scottgigante-immunai ! I will try the conda environment + pip way.

@giovp could you please respond to my comments about the datasets and help me see how to add a new spatial dataset? Thanks a lot!

[2022-11-27 15:08] #695 closed

[2022-11-29 19:51] vitkl commented on #589
What is the delay between changes being committed to this repo and revised results on the website https://openproblems.bio/benchmarks/spatial_decomposition/?

Looks like some earlier changes (possibly computation of proportions) changed the results in a more expected direction https://openproblems.bio/benchmarks/spatial_decomposition/

[2022-11-29 19:57] scottgigante-immunai commented on #589
Yep, the delay is running the full benchmark. The new results are changed due to the proportions fix :)

[2022-11-29 20:15] scottgigante-immunai opened #717 "cell2location runs over an hour in test mode"
Per the [execution timeline](https://github.com/openproblems-bio/openproblems/files/10116946/timeline-5lMjAWWp8LIdfz.html.zip), cell2location takes a _long_ time to run even when `test=True`. This is costing us money. @vitkl can you look into this?

[2022-11-29 20:16] scottgigante-immunai opened #718 "scanvi runs over an hour in test mode"
Per the [execution timeline](https://github.com/openproblems-bio/openproblems/files/10116946/timeline-5lMjAWWp8LIdfz.html.zip), scanvi takes a _long_ time to run even when `test=True`. This is costing us money. @danielStrobl can you look into this?

[2022-11-29 20:16] #684 closed

[2022-11-29 20:19] scottgigante-immunai commented on #551
Update: this is due to the Apple silicon. We likely won't fix this. Solution is to use [EC2](https://github.com/openproblems-bio/openproblems/blob/main/EC2.md)

[2022-11-30 01:50] adamgayoso commented on #692
It still seems like the metrics are in different ranges, yet a simple average of the metrics is being used.

For example, isolated label sil. is >1 for many method and seems to contribute a lot to the ranking right now.

[2022-11-30 08:30] vitkl commented on #717
Is the number of test epoch determined here? https://github.com/openproblems-bio/openproblems/blob/4ac6faf34507ac9105f02ef7f83eceea556881ea/openproblems/tasks/spatial_decomposition/methods/cell2location.py#L38-L41

[2022-11-30 09:02] vitkl commented on #717
A reason for 15 minutes instead of 2 minutes could be that computing `num_samples=10` on full data on CPU takes time. I can suggest reducing `num_samples=2`. Why would this test take 1h I don't know. I need to know more about why there are many processes with the same name.

I will look into which variables are sampled and if any of them are large (re issue below).

At the moment amortised version